In [1]:
import dxpy
import dxdata
import pandas as pd
import pyspark
import subprocess
from pyspark.sql import SQLContext
from pyspark import SparkConf, SparkContext

dxdata.__version__
connection = dxdata.connect()
conf = pyspark.SparkConf().set("spark.kryoserializer.buffer.max", "2000m")

/opt/conda/lib/python3.11/site-packages/thrift/transport/TSSLSocket.py:53: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  self._context = ssl.SSLContext(ssl_version)

In [2]:
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)

In [3]:
# Automatically discover dispensed database name and dataset id
dispensed_database = dxpy.find_one_data_object(
    classname='database', 
    name='app*', 
    folder='/', 
    name_mode='glob', 
    describe=True)
dispensed_database_name = dispensed_database['describe']['name']

dispensed_dataset = dxpy.find_one_data_object(
    typename='Dataset', 
    name='app*.dataset', 
    folder='/', 
    name_mode='glob')
dispensed_dataset_id = dispensed_dataset['id']
dataset = dxdata.load_dataset(id=dispensed_dataset_id)
dataset.entities

[<Entity "participant">,
 <Entity "covid19_result_england">,
 <Entity "covid19_result_scotland">,
 <Entity "covid19_result_wales">,
 <Entity "gp_clinical">,
 <Entity "gp_scripts">,
 <Entity "gp_registrations">,
 <Entity "hesin">,
 <Entity "hesin_diag">,
 <Entity "hesin_oper">,
 <Entity "hesin_critical">,
 <Entity "hesin_maternity">,
 <Entity "hesin_delivery">,
 <Entity "hesin_psych">,
 <Entity "death">,
 <Entity "death_cause">,
 <Entity "olink_instance_0">,
 <Entity "olink_instance_2">,
 <Entity "olink_instance_3">]

In [4]:
participant = dataset['participant']

In [5]:
# Returns all field objects for a given UKB showcase field id
def fields_for_id(field_id):
    from distutils.version import LooseVersion
    field_id = str(field_id)
    fields = participant.find_fields(name_regex=r'^p{}(_i\d+)?(_a\d+)?$'.format(field_id))
    return sorted(fields, key=lambda f: LooseVersion(f.name))

# Returns all field names for a given UKB showcase field id
def field_names_for_id(field_id):
    return [f.name for f in fields_for_id(field_id)]

In [6]:
# split the recommended fields into a list
merged_fields = pd.read_csv("merged_fields_3.tsv", sep="\t", header=0)
merge_field_list = merged_fields["field_id"].tolist()
# cut the recommended fields list for 20 fields each group
merge_field_list = [merge_field_list[i:i + 20] for i in range(0, len(merge_field_list), 20)]
for i, group in enumerate(merge_field_list):
    # if i <= 83:
    #     continue
    print(f"Retrieving fields for group {i + 1} with {len(group)} fields")
    # change the group astype to string
    group = [str(x) for x in group]
    get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
    field_names = ['eid'] + get_ids
    df = participant.retrieve_fields(names=field_names, engine=connection)
    data = df.toPandas()
    display(data)
    # save the data to a file
    # if the file already exists, continue to the next iteration
    data.to_csv(f'./core_category/third_group_{i + 1}.tsv', sep='\t', index=False, header=True)
    # Upload the file using subprocess
    subprocess.run([
        "dx", "upload", f"./core_category/third_group_{i + 1}.tsv",
        "-p", "--path", "/Output/Traits/core_category/", "--brief"
    ], check=True)

Retrieving fields for group 1 with 20 fields

,eid,p3_i0,p3_i1,p3_i2,p3_i3,p4_i0,p4_i1,p4_i2,p4_i3,p5_i0,...,p630_i3,p5198_i0,p5198_i1,p5198_i2,p5198_i3,p6022_i0,p6022_i1,p10241_i0,p12148_i2,p12148_i3
0,1451876,390.0,657.0,NaN,NaN,501.0,542.0,NaN,NaN,28.0,...,NaN,NaN,545.0,NaN,NaN,NaN,1020.0,NaN,NaN,NaN
1,3046819,493.0,NaN,418.0,NaN,543.0,NaN,230.0,NaN,535.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,5015491,523.0,NaN,NaN,NaN,663.0,NaN,NaN,NaN,251.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,395.0,NaN,531.0,NaN,467.0,NaN,199.0,NaN,275.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,3293483,508.0,NaN,NaN,NaN,252.0,NaN,NaN,NaN,299.0,...,NaN,560.0,NaN,NaN,NaN,445.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,936.0,NaN,NaN,NaN,739.0,NaN,NaN,NaN,458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,332.0,NaN,266.0,NaN,576.0,NaN,861.0,NaN,301.0,...,NaN,362.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
502125,5758738,1127.0,NaN,NaN,NaN,324.0,NaN,NaN,NaN,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,635.0,NaN,NaN,NaN,462.0,NaN,NaN,NaN,256.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,467.0,NaN,NaN,NaN,760.0,NaN,NaN,NaN,392.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 2 with 20 fields

,eid,p20118_i0,p21003_i0,p21003_i1,p21003_i2,p21003_i3,p21007,p21008,p21150,p21151,p21152,p21611_i2,p21611_i3,p21621_i2,p21621_i3,p21622_i2,p21622_i3,p21625_i2,p21625_i3
0,1451876,7.0,65,70.0,NaN,NaN,NaN,24.0,1.13448,-0.74872,0.73896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,5.0,52,NaN,67.0,NaN,NaN,24.0,-0.19947,-0.03439,-1.08704,26.0,NaN,200.0,NaN,2707.0,NaN,1425.0,NaN
2,5015491,5.0,63,NaN,NaN,NaN,NaN,24.0,0.49424,-0.00576,0.39333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,5.0,48,NaN,61.0,NaN,NaN,24.0,0.12488,-0.87493,-0.58550,47.0,NaN,238.0,NaN,2488.0,NaN,1876.0,NaN
4,3293483,7.0,63,NaN,NaN,NaN,NaN,24.0,1.34611,0.39447,0.96026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,5.0,54,NaN,NaN,NaN,NaN,24.0,0.08814,-0.71983,-0.92803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,5.0,41,NaN,48.0,NaN,NaN,24.0,0.81724,0.32466,0.09480,16.0,NaN,176.0,NaN,2270.0,NaN,1765.0,NaN
502125,5758738,5.0,64,NaN,NaN,NaN,NaN,24.0,1.00697,0.46150,0.04420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,5.0,45,NaN,NaN,NaN,NaN,24.0,0.09488,-1.23928,-1.98180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,5.0,68,NaN,NaN,NaN,NaN,24.0,0.97441,-2.75042,-1.51044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 3 with 20 fields

,eid,p21631_i2,p21631_i3,p21634_i2,p21634_i3,p21636_i2,p21636_i3,p21642_i2,p21642_i3,p21651_i2,...,p21711_i3,p21721_i0,p21721_i1,p21721_i2,p21721_i3,p21722_i0,p21722_i1,p21722_i2,p21722_i3,p21723_i0
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159612.0,NaN,NaN,NaN,159612.0,158973.0,NaN,NaN,NaN
1,3046819,422.0,NaN,235.0,NaN,NaN,NaN,344.0,NaN,29.0,...,NaN,159363.0,NaN,668742.0,NaN,159380.0,NaN,668742.0,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159782.0,NaN,NaN,NaN,159225.0,NaN,NaN,NaN,NaN
3,1598419,537.0,NaN,207.0,NaN,NaN,NaN,275.0,NaN,22.0,...,NaN,159221.0,NaN,159922.0,NaN,159546.0,NaN,664132.0,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159859.0,NaN,NaN,NaN,159859.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159437.0,NaN,NaN,NaN,159288.0,NaN,NaN,NaN,NaN
502124,3834454,273.0,NaN,865.0,NaN,NaN,NaN,224.0,NaN,25.0,...,NaN,159682.0,NaN,158952.0,NaN,159273.0,NaN,158952.0,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159190.0,NaN,NaN,NaN,159568.0,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159296.0,NaN,NaN,NaN,159829.0,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159509.0,NaN,NaN,NaN,159509.0,NaN,NaN,NaN,NaN

Retrieving fields for group 4 with 20 fields

,eid,p21725_i2,p21725_i3,p21731_i0,p21731_i1,p21731_i2,p21731_i3,p21732_i0,p21733_i0,p21734_i0,...,p21811_i2,p21811_i3,p21821_i0,p21821_i1,p21821_i2,p21821_i3,p21822_i0,p21822_i1,p21822_i2,p21822_i3
0,1000122,160220.0,NaN,159176.0,NaN,160220.0,NaN,NaN,NaN,159451.0,...,2022-08-20 10:12:55,NaT,2009-09-15 08:16:21,NaT,2022-08-20 10:16:06,NaT,2009-09-15 09:02:03,NaT,2022-08-20 13:49:46,NaT
1,1000150,NaN,NaN,159159.0,NaN,NaN,NaN,NaN,NaN,159406.0,...,NaT,NaT,2007-08-25 11:35:04,NaT,NaT,NaT,2007-08-25 12:05:46,NaT,NaT,NaT
2,1000163,NaN,NaN,159049.0,NaN,NaN,NaN,NaN,NaN,159871.0,...,NaT,NaT,2008-09-09 16:32:26,NaT,NaT,NaT,2008-09-09 17:03:46,NaT,NaT,NaT
3,1000196,664128.0,NaN,159640.0,NaN,159228.0,NaN,NaN,NaN,159450.0,...,2023-10-09 11:41:47,NaT,2010-01-28 16:12:53,NaT,2023-10-09 11:48:59,NaT,2010-01-28 17:08:28,NaT,2023-10-09 16:18:59,NaT
4,1000221,673067.0,NaN,159770.0,NaN,668742.0,NaN,NaN,NaN,159301.0,...,2023-07-28 13:31:36,NaT,2009-07-20 08:09:20,NaT,2023-07-28 13:35:42,NaT,2009-07-20 09:07:18,NaT,2023-07-28 17:29:14,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,159085.0,NaN,NaN,NaN,NaN,NaN,159362.0,...,NaT,NaT,2009-06-03 16:50:29,NaT,NaT,NaT,2009-06-03 17:24:57,NaT,NaT,NaT
502124,6021216,668743.0,NaN,159411.0,NaN,673067.0,NaN,NaN,NaN,159850.0,...,2024-05-10 07:45:01,NaT,2008-05-29 15:45:40,NaT,2024-05-10 07:48:39,NaT,2008-05-29 16:20:00,NaT,2024-05-10 11:51:44,NaT
502125,6021303,NaN,NaN,159520.0,NaN,NaN,NaN,NaN,NaN,159790.0,...,NaT,NaT,2008-04-08 10:46:11,NaT,NaT,NaT,2008-04-08 11:16:19,NaT,NaT,NaT
502126,6021358,158911.0,NaN,159210.0,NaN,160021.0,NaN,NaN,NaN,159570.0,...,2019-03-27 10:42:32,NaT,2008-09-24 09:53:29,NaT,2019-03-27 10:48:32,NaT,2008-09-24 10:35:34,NaT,2019-03-27 15:26:41,NaT
502127,6021392,NaN,NaN,159770.0,NaN,NaN,NaN,NaN,NaN,159488.0,...,NaT,NaT,2008-02-15 08:27:19,NaT,NaT,NaT,2008-02-15 09:14:15,NaT,NaT,NaT

Retrieving fields for group 5 with 20 fields

,eid,p21823_i0,p21825_i2,p21825_i3,p21831_i0,p21831_i1,p21831_i2,p21831_i3,p21832_i0,p21833_i0,...,p21864_i2,p21864_i3,p21865_i2,p21865_i3,p21866_i2,p21866_i3,p21871_i2,p21871_i3,p22000,p22001
0,1451876,NaT,NaT,NaT,2007-12-18 14:00:08,2013-04-10 11:10:12,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,76.0,0.0
1,3046819,NaT,2024-06-12 13:24:14,NaT,2009-08-08 12:02:06,NaT,2024-06-12 09:50:56,NaT,NaT,NaT,...,2024-06-12 10:40:41,NaT,2024-06-12 11:13:50,NaT,2024-06-12 11:10:32,NaT,2024-06-12 12:12:49,NaT,-1.0,1.0
2,5015491,NaT,NaT,NaT,2008-04-04 14:56:35,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,92.0,1.0
3,1598419,NaT,2022-08-21 16:37:37,NaT,2009-11-20 11:58:59,NaT,2022-08-21 15:14:37,NaT,NaT,NaT,...,2022-08-21 13:12:04,NaT,2022-08-21 13:26:41,NaT,2022-08-21 13:28:04,NaT,2022-08-21 15:20:29,NaT,6.0,1.0
4,3293483,NaT,NaT,NaT,2010-07-02 12:30:51,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,76.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaT,NaT,NaT,2007-07-20 13:48:11,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,71.0,0.0
502124,3834454,NaT,2017-05-14 15:25:02,NaT,2009-10-16 16:13:31,NaT,2017-05-14 14:53:46,NaT,NaT,NaT,...,2017-05-14 12:02:10,NaT,2017-05-14 12:14:24,NaT,2017-05-14 12:24:15,NaT,NaT,NaT,84.0,1.0
502125,5758738,NaT,NaT,NaT,2009-03-30 11:24:19,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,90.0,1.0
502126,5115563,NaT,NaT,NaT,2009-11-21 17:25:45,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,88.0,0.0
502127,3943404,NaT,NaT,NaT,2008-03-03 15:15:39,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,26.0,1.0

Retrieving fields for group 6 with 20 fields

,eid,p22002,p22003,p22004,p22005,p22006,p22007,p22008,p22009_a1,p22009_a2,...,p22021,p22022,p22023,p22024,p22025,p22026,p22027,p22028,p22029,p22030
0,1000122,1000122_22002_0_0.CEL,0.190846,0.192048,0.007185,NaN,SMP4_0010740A,C11,-10.6246,0.433018,...,0.0,575.21,639.96,58.22,99.185,0.97,NaN,1.0,1.0,1.0
1,1000150,1000150_22002_0_0.CEL,0.189699,0.191424,0.001160,1.0,SMP4_0016314A,A10,-12.3126,1.449200,...,0.0,717.41,815.01,28.79,99.803,0.97,NaN,1.0,1.0,1.0
2,1000163,1000163_22002_0_0.CEL,0.187861,0.189576,0.000583,1.0,SMP4_0016268A,H07,-14.5596,5.570180,...,0.0,736.45,851.91,21.03,99.857,0.98,NaN,1.0,1.0,1.0
3,1000196,1000196_22002_0_0.CEL,0.188119,0.189491,0.000637,1.0,SMP4_0014925A,H03,-12.9116,3.564900,...,0.0,782.67,316.25,35.24,99.843,0.98,NaN,1.0,1.0,1.0
4,1000221,1000221_22002_0_0.CEL,0.189760,0.191401,0.023810,1.0,SMP4_0014244A,H08,-14.3567,2.473670,...,0.0,484.68,533.45,38.78,97.739,0.99,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,6021183_22002_0_0.CEL,0.182650,0.190687,0.011570,NaN,SMP4_0010775A,D09,70.2319,-106.373000,...,0.0,750.41,292.90,36.28,98.810,0.99,NaN,1.0,1.0,1.0
502124,6021216,6021216_22002_0_0.CEL,0.188828,0.190113,0.000634,1.0,SMP4_0012851A,H04,-11.2257,4.899060,...,0.0,634.50,251.66,17.13,99.724,0.98,NaN,1.0,1.0,1.0
502125,6021303,6021303_22002_0_0.CEL,0.187729,0.189369,0.002017,1.0,SMP4_0012954A,E09,-14.0363,2.558400,...,0.0,480.49,542.88,41.64,99.708,0.98,NaN,1.0,1.0,1.0
502126,6021358,6021358_22002_0_0.CEL,0.188302,0.189938,0.007870,NaN,SMP4_0013776A,D05,-14.2139,4.211320,...,1.0,715.22,292.78,21.45,99.102,0.97,NaN,1.0,1.0,1.0
502127,6021392,6021392_22002_0_0.CEL,0.189000,0.190739,0.002888,1.0,SMP4_0013771B,A04,-15.4503,4.828230,...,1.0,1000.72,362.37,42.39,99.590,0.98,NaN,1.0,1.0,1.0

Retrieving fields for group 7 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 8 with 20 fields

,eid,p22182,p22190_i0,p22190_i1,p22190_i2,p22191_i0,p22191_i1,p22191_i2,p22192_i0,p22192_i1,p22192_i2,p22194_i0,p22194_i1,p22194_i2,p22418,p22419,p22430,p22431,p22437,p22438
0,1000122,"1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.675995,NaN,NaN,0.811961,NaN,NaN,-0.081435,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
1,1000150,"1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.750704,NaN,NaN,0.802759,NaN,NaN,-0.155208,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
2,1000163,"0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,...",0.735685,NaN,NaN,0.830824,NaN,NaN,0.067216,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
3,1000196,"1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,...",0.718323,NaN,NaN,0.793238,NaN,NaN,-0.232433,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
4,1000221,"0,0,0,0.993333333333333,0,0,0,0,0,0,0,0,0,0,0,...",0.754108,NaN,NaN,0.833102,NaN,NaN,0.084938,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.993333333333...",0.874520,NaN,NaN,0.941808,NaN,NaN,0.878766,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
502124,6021216,"1,0,0,0,0,0.566666666666667,0,0,0,0,0,0,0,0,0,...",0.781601,NaN,NaN,0.893272,NaN,NaN,0.536301,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
502125,6021303,"1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,...",0.598151,NaN,NaN,0.727132,NaN,NaN,-0.795645,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
502126,6021358,"1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.679856,NaN,NaN,0.803242,NaN,NaN,-0.151313,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0
502127,6021392,"0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.778532,NaN,NaN,0.937581,NaN,NaN,0.849650,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.0,1.0,24.0,24.0

Retrieving fields for group 9 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 10 with 20 fields

,eid,p22828,p23165,p26200,p26201_a0,p26201_a1,p26201_a2,p26201_a3,p26202,p26203,p26204,p26205,p26206,p26207,p26208,p26209
0,1000122,24.0,OO,1.0,-8.74207,51.9843,-24.9605,-5.245700,-1.63649,-0.78142,-0.01327,-0.41129,-0.61783,-0.57861,0.77328,-0.35778
1,1000150,24.0,OO,NaN,-9.54006,53.8054,-25.6277,-5.283280,0.05554,NaN,0.61339,NaN,0.00910,NaN,NaN,NaN
2,1000163,24.0,OO,NaN,-9.15529,55.5069,-27.0036,-4.284430,0.58381,NaN,-0.17317,NaN,0.30615,NaN,NaN,NaN
3,1000196,24.0,AO,NaN,-9.20795,54.5434,-25.7958,-4.625040,-0.39069,NaN,-1.46895,NaN,-1.01444,NaN,NaN,NaN
4,1000221,24.0,OO,1.0,-9.19729,55.1933,-25.1645,-3.038270,-1.35365,-1.07899,-0.13586,0.40571,-0.06498,-0.44425,-0.67757,0.58506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,24.0,AO,1.0,-18.75890,31.3754,24.0717,0.438678,0.31252,0.23087,-0.47410,-0.15781,-0.46280,-0.15081,2.13426,1.67078
502124,6021216,24.0,OO,NaN,-8.13219,55.3727,-24.9951,-5.834500,0.69851,NaN,0.07805,NaN,-1.20315,NaN,NaN,NaN
502125,6021303,24.0,AO,NaN,-9.87942,53.1698,-26.8638,-6.385630,-0.28733,NaN,0.06332,NaN,0.40037,NaN,NaN,NaN
502126,6021358,24.0,AO,NaN,-10.07960,54.8659,-26.7532,-4.242750,-0.81414,-1.41387,-0.14260,-0.13255,0.46271,0.69193,-1.04909,0.17749
502127,6021392,24.0,AO,NaN,-9.40592,55.5147,-26.2165,-4.842380,-0.96624,-1.05548,-1.33978,-1.05722,-1.59317,-1.72919,1.26281,0.34184

Retrieving fields for group 11 with 20 fields

,eid,p26210,p26211,p26212,p26213,p26214,p26215,p26216,p26217,p26218,...,p26220,p26221,p26222,p26223,p26224,p26225,p26226,p26227,p26228,p26229
0,1000122,0.63513,0.32539,0.92542,1.22997,-0.96913,-0.97380,1.43347,0.30674,1.88278,...,0.77545,0.67626,0.10224,0.64413,0.20697,1.57101,1.82506,-0.30124,-0.27843,-1.94780
1,1000150,0.24115,NaN,-0.39923,NaN,2.09385,NaN,-1.77340,NaN,1.86408,...,0.06466,NaN,NaN,-1.54952,NaN,-0.79949,NaN,-2.41308,NaN,-0.46353
2,1000163,0.79425,NaN,-0.62800,NaN,-0.01014,NaN,-0.64280,NaN,1.35804,...,-1.27675,NaN,NaN,-1.37877,NaN,0.27710,NaN,-0.17413,NaN,-1.50906
3,1000196,2.03472,NaN,-0.39204,NaN,-0.50460,NaN,-1.14119,NaN,-0.87357,...,0.38584,NaN,NaN,-2.40677,NaN,2.19747,NaN,-1.40157,NaN,-0.30359
4,1000221,0.05478,0.63197,1.22487,0.98041,-3.13030,-2.84466,-0.42103,-0.14156,0.03831,...,0.99180,1.09894,-1.67891,1.17503,0.69227,-0.97881,-0.84444,0.96318,0.41166,-0.27054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,0.42452,0.38174,1.45810,1.98615,-1.97558,-2.01907,0.44040,0.46686,1.04046,...,1.41876,1.46630,-0.15969,0.87481,1.12356,0.22777,-0.44463,1.32883,1.80178,0.13159
502124,6021216,0.99623,NaN,0.44671,NaN,-0.90077,NaN,-0.36976,NaN,0.73357,...,-0.03350,NaN,NaN,-0.29068,NaN,1.36961,NaN,0.60314,NaN,-0.18589
502125,6021303,-1.16524,NaN,-1.72220,NaN,0.89746,NaN,0.78191,NaN,0.79321,...,-2.27200,NaN,NaN,-0.41855,NaN,-0.40403,NaN,-0.93937,NaN,-0.59903
502126,6021358,0.70517,0.14473,1.06990,1.34385,0.76886,1.03984,-0.72321,-0.12444,2.83026,...,-0.45831,-0.67258,2.14965,-0.06709,0.48792,1.42127,1.52515,0.14063,0.62941,1.21436
502127,6021392,-0.56998,0.52900,0.95576,0.92080,0.01958,0.00302,-0.22614,0.35717,-0.52794,...,-0.17213,0.07145,-1.39245,-1.44622,-1.17071,-0.89017,-0.62132,-0.94592,0.09309,1.17132

Retrieving fields for group 12 with 20 fields

,eid,p26231,p26232,p26233,p26234,p26235,p26236,p26237,p26238,p26239,p26240,p26241,p26242,p26243,p26244,p26245,p26246,p26247,p26248,p26249
0,1000122,0.66277,-1.69761,-1.10348,-0.76761,0.57682,-0.24293,-0.49491,0.45187,0.12086,1.92101,1.67439,-0.00996,0.01984,-1.18275,-1.12471,-3.13265,0.10062,0.20727,0.12625
1,1000150,NaN,-0.55835,NaN,-0.50249,NaN,NaN,NaN,-0.27273,NaN,0.21039,NaN,-0.30917,NaN,-0.91611,NaN,0.27903,NaN,-0.14055,NaN
2,1000163,NaN,0.08431,NaN,-0.72665,NaN,NaN,NaN,-0.81531,NaN,1.28244,NaN,-1.01692,NaN,-0.63038,NaN,-0.81513,NaN,-1.55630,NaN
3,1000196,NaN,-0.67006,NaN,-2.00397,NaN,NaN,NaN,0.53644,NaN,0.86989,NaN,-1.35058,NaN,-0.46708,NaN,-0.54048,NaN,-0.31315,NaN
4,1000221,-0.45861,-0.84271,-0.91772,-0.56607,-0.00741,0.79470,-0.50595,1.37527,0.79729,1.90748,0.95082,-0.30758,-0.37974,-0.82197,-0.86052,1.84241,2.13202,0.43539,-0.08283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,1.43144,-0.62186,-0.72126,0.46165,2.32623,-0.33607,-0.88436,1.27332,0.76879,-0.15161,0.42794,0.95710,0.98791,0.58333,0.34310,0.84685,1.20190,1.09045,1.40334
502124,6021216,NaN,1.16954,NaN,-2.28772,NaN,NaN,NaN,-0.47582,NaN,1.08351,NaN,-0.86585,NaN,-0.04670,NaN,0.17522,NaN,-1.28654,NaN
502125,6021303,NaN,1.05714,NaN,0.94580,NaN,NaN,NaN,0.23491,NaN,1.33224,NaN,0.95520,NaN,-1.75655,NaN,-0.30672,NaN,0.05561,NaN
502126,6021358,0.20033,0.38571,0.35542,-0.80061,0.85842,0.50889,0.47847,-1.14244,-1.36885,1.87507,0.88263,-0.67435,-1.10337,0.64152,1.41303,0.85267,0.36719,0.63295,1.64624
502127,6021392,0.87130,-0.14695,-0.53974,-0.29978,-0.34535,-0.91064,-0.84338,-1.04303,-0.58636,0.34166,-1.51019,1.22717,1.07878,0.36227,0.02808,0.73636,0.22368,-0.95202,-1.08728

Retrieving fields for group 13 with 20 fields

,eid,p26250,p26251,p26252,p26253,p26254,p26255,p26256,p26257,p26258,...,p26260,p26261,p26262,p26263,p26264,p26265,p26266,p26267,p26268,p26269
0,1000122,-1.85718,-0.96450,-0.83889,-0.66242,0.35854,0.32414,0.16244,-0.42407,0.18073,...,-1.75994,-1.48285,0.35232,0.36793,-0.09179,0.06717,-0.86588,1.30862,1.31851,0.92457
1,1000150,-1.51203,NaN,1.21904,NaN,0.81407,NaN,NaN,NaN,-0.23687,...,0.80814,NaN,NaN,NaN,NaN,-0.03211,NaN,0.84414,NaN,-0.97679
2,1000163,-0.51363,NaN,1.00555,NaN,0.93984,NaN,NaN,NaN,-0.46462,...,-0.50220,NaN,NaN,NaN,NaN,0.46201,NaN,2.35030,NaN,0.18395
3,1000196,1.20312,NaN,-0.31602,NaN,1.89605,NaN,NaN,NaN,1.18025,...,-0.83143,NaN,NaN,NaN,NaN,-0.49159,NaN,1.36429,NaN,-1.67667
4,1000221,0.15476,0.26109,2.43451,2.28148,1.21012,1.37791,-0.58641,-0.73231,-0.59092,...,-1.27535,-1.24844,-1.23168,-1.48442,-0.40209,0.86616,1.01799,-1.03189,-1.14794,-1.48909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,0.51267,0.84933,0.24795,0.20875,2.05011,2.78281,0.99801,1.39803,-0.62165,...,-0.52576,-0.16498,2.16253,1.96796,1.86009,0.86058,1.89073,0.64385,0.84810,-1.66983
502124,6021216,-0.29988,NaN,0.32869,NaN,0.91667,NaN,NaN,NaN,1.97164,...,-0.33743,NaN,NaN,NaN,NaN,-1.51480,NaN,0.91906,NaN,-0.99313
502125,6021303,-0.34249,NaN,0.22121,NaN,0.67469,NaN,NaN,NaN,-0.60897,...,0.09320,NaN,NaN,NaN,NaN,-0.59029,NaN,0.30040,NaN,1.59112
502126,6021358,-1.13165,-0.73751,1.20851,1.11428,-0.22746,0.00570,-0.36944,-0.28484,0.54991,...,0.28057,1.05101,0.02704,-0.10065,-0.16377,1.68862,1.58300,1.72331,2.32037,-0.06257
502127,6021392,-1.46330,-1.01894,3.94315,4.40782,-0.44073,-0.18041,0.22962,0.44919,-0.12653,...,0.66209,0.59818,1.43848,1.21528,0.61567,0.12958,-0.28541,0.45652,0.32990,-0.50369

Retrieving fields for group 14 with 20 fields

,eid,p26270,p26271,p26272,p26273,p26274,p26275,p26276,p26277,p26278,p26279,p26280,p26281,p26282,p26283,p26284,p26285,p26286,p26287,p26289
0,1000122,0.15151,-0.48891,0.37887,0.27550,0.05135,-1.22821,-0.97655,0.85364,-0.33442,0.15509,-1.27877,0.06683,-0.34594,0.75703,0.80390,-0.81629,-0.79675,0.06260,-1.30898
1,1000150,NaN,NaN,NaN,-0.11007,NaN,1.72446,NaN,NaN,-0.36697,NaN,NaN,NaN,NaN,-0.89629,NaN,-1.10569,NaN,0.86723,-1.35110
2,1000163,NaN,NaN,NaN,1.68594,NaN,1.29430,NaN,NaN,0.26997,NaN,NaN,NaN,NaN,0.76307,NaN,0.26532,NaN,-1.85023,-0.62562
3,1000196,NaN,NaN,NaN,-0.46153,NaN,-1.65666,NaN,NaN,1.07239,NaN,NaN,NaN,NaN,0.41184,NaN,-1.55470,NaN,-0.00338,-0.01823
4,1000221,-1.53388,-0.62518,-0.86691,1.42433,1.38517,-0.93426,-1.28353,0.40537,-0.25019,-0.42255,-0.05555,-1.32115,-0.78118,-1.18648,-1.19491,-0.11629,-0.16035,0.27622,0.67936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,-2.01681,1.99974,-0.49801,0.24228,-0.12495,-0.89995,-0.78434,2.76186,-0.69399,-0.67104,1.64323,2.06194,-0.25830,-1.04932,-0.93976,0.24812,0.01059,1.44206,0.28737
502124,6021216,NaN,NaN,NaN,2.07471,NaN,-0.63805,NaN,NaN,1.83981,NaN,NaN,NaN,NaN,1.63520,NaN,-0.07590,NaN,1.27592,0.09244
502125,6021303,NaN,NaN,NaN,-0.83411,NaN,-2.92806,NaN,NaN,-1.24536,NaN,NaN,NaN,NaN,-1.53861,NaN,0.15486,NaN,-1.46161,-0.30680
502126,6021358,-0.15374,0.89129,2.73861,-0.61303,-0.61447,0.50040,0.67996,0.16127,-0.17424,0.30645,-0.62017,0.06642,-0.97889,0.12691,-0.02237,-1.20767,-1.89360,3.42764,-0.04011
502127,6021392,-0.64425,-0.16974,1.19267,-1.35013,-1.47322,0.86523,0.72731,0.72231,-0.83658,-0.81181,-0.54425,0.73397,-0.20337,-0.16975,-0.14657,1.31323,0.95178,0.77999,-0.94803

Retrieving fields for group 15 with 20 fields

,eid,p26290,p27980_i0,p27980_i1,p27981_i0,p27981_i1,p27982_i0,p27982_i1,p27983_i0,p27983_i1,...,p28005_i3,p28005_i4,p28005_i5,p28006_i0,p28006_i1,p28006_i2,p28006_i3,p28006_i4,p28006_i5,p28007_i0
0,1451876,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
1,3046819,-2.86927,2.0,NaN,0.0,NaN,2021-04-05,None,1.0,NaN,...,None,None,None,None,None,None,None,None,None,None
2,5015491,0.68066,NaN,NaN,NaN,NaN,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
3,1598419,NaN,2.0,NaN,0.0,NaN,2021-04-22,None,1.0,NaN,...,None,None,None,None,None,None,None,None,None,None
4,3293483,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,-0.71266,2.0,NaN,2.0,NaN,2021-04-17,None,1.0,NaN,...,None,None,None,None,None,None,None,None,None,None
502124,3834454,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502125,5758738,NaN,2.0,NaN,2.0,NaN,2021-04-09,None,1.0,NaN,...,None,None,None,None,None,None,None,None,None,None
502126,5115563,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502127,3943404,NaN,1.0,NaN,0.0,NaN,2021-03-27,None,1.0,NaN,...,None,None,None,None,None,None,None,None,None,None

Retrieving fields for group 16 with 20 fields

,eid,p28008_i0,p28008_i1,p28008_i2,p28008_i3,p28008_i4,p28008_i5,p28009_i0,p28009_i1,p28009_i2,...,p28026_i8,p28027_i0,p28027_i1,p28027_i2,p28027_i3,p28027_i4,p28027_i5,p28027_i6,p28027_i7,p28027_i8
0,1451876,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 17 with 20 fields

,eid,p28028_i0,p28028_i1,p28028_i2,p28028_i3,p28028_i4,p28028_i5,p28028_i6,p28028_i7,p28028_i8,...,p28038,p28039,p28040,p28041,p28042,p28043,p28044,p28045,p28046,p28047
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 18 with 20 fields

,eid,p28048,p28049,p28050,p28051,p28052,p28053,p28054,p28055,p28056,...,p28058,p28059,p28060,p28061,p28062,p28063,p28064,p28065,p28066,p28067
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 19 with 20 fields

,eid,p28068,p28069,p28070,p28071,p28072,p28073,p28074,p28075,p28076,...,p28078,p28079,p28080,p28081,p28082,p28083,p28084,p28085,p28086,p28087
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 20 with 20 fields

,eid,p28088,p28089,p28090,p28091,p28092,p28093,p28094,p28095,p28096,...,p28098,p28099,p28100,p28101,p28102,p28103,p28104,p28105,p28106,p28107
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 21 with 20 fields

,eid,p28108,p28109,p28110,p28111,p28112,p28113,p28114,p28115,p28116,...,p28118,p28119,p28120,p28121,p28122,p28123,p28124,p28125,p28126,p28127
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

Retrieving fields for group 22 with 20 fields

,eid,p28140,p28141,p28142,p28143,p28146,p28147,p28148,p28149,p28150,...,p28152,p28153,p28154,p28155,p28156,p28157,p28158,p28159,p28160,p28161
0,1451876,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,None,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 23 with 20 fields

,eid,p28162,p28163,p28164,p28165,p28166,p28167,p28174,p40000_i0,p40000_i1,...,p40002_i1_a5,p40002_i1_a6,p40002_i1_a7,p40002_i1_a8,p40002_i1_a9,p40002_i1_a10,p40002_i1_a11,p40002_i1_a12,p40002_i1_a13,p40002_i1_a14
0,1451876,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
1,3046819,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
2,5015491,NaN,NaN,NaN,NaN,None,None,NaN,2024-01-06,None,...,None,None,None,None,None,None,None,None,None,None
3,1598419,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
4,3293483,NaN,NaN,NaN,NaN,None,None,NaN,2017-11-04,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
502124,3834454,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
502125,5758738,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
502126,5115563,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
502127,3943404,NaN,NaN,NaN,NaN,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None

Retrieving fields for group 24 with 20 fields

,eid,p40005_i0,p40005_i1,p40005_i2,p40005_i3,p40005_i4,p40005_i5,p40005_i6,p40005_i7,p40005_i8,...,p40021_i20,p40021_i21,p40022,p40023,p40100,p41000_i3_a0,p41001_i3_a0,p41001_i3_a1,p41001_i3_a2,p41001_i3_a3
0,1000122,2018-02-05,None,None,None,None,None,None,None,None,...,None,None,[HES],NaN,1.0,NaN,None,None,None,None
1,1000150,None,None,None,None,None,None,None,None,None,...,None,None,[SMR],NaN,2.0,NaN,None,None,None,None
2,1000163,None,None,None,None,None,None,None,None,None,...,None,None,[HES],NaN,1.0,NaN,None,None,None,None
3,1000196,None,None,None,None,None,None,None,None,None,...,None,None,[HES],NaN,NaN,NaN,None,None,None,None
4,1000221,None,None,None,None,None,None,None,None,None,...,None,None,[HES],NaN,1.0,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,None,None,None,None,None,None,None,None,None,...,None,None,[HES],1.0,1.0,NaN,None,None,None,None
502124,6021216,None,None,None,None,None,None,None,None,None,...,None,None,[PEDW],NaN,1.0,NaN,None,None,None,None
502125,6021303,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,2.0,NaN,None,None,None,None
502126,6021358,None,None,None,None,None,None,None,None,None,...,None,None,[HES],NaN,NaN,NaN,None,None,None,None
502127,6021392,None,None,None,None,None,None,None,None,None,...,None,None,[PEDW],NaN,6.0,NaN,None,None,None,None

Retrieving fields for group 25 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 26 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 27 with 20 fields

,eid,p41149,p41150,p41151,p41200,p41201,p41202,p41203,p41204,p41205,...,p41208_a20,p41208_a21,p41209_a0,p41209_a1,p41209_a2,p41209_a3,p41209_a4,p41209_a5,p41209_a6,p41210
0,1000122,22.0,None,[180],"[A651, H201, H229, M451, M459, U264]",None,"[C679, D120, D125, G560, K573, N302, R35, R398...",None,"[D123, D125, E039, G560, I10, K573, K649, N320...",None,...,None,None,2,None,None,None,None,None,None,"[O301, Y131, Z282, Z284, Z286, Z942, Z943]"
1,1000150,3.0,None,None,"[N072, W268]",None,"[R103, S6220]",None,[W239],None,...,None,None,1,4,None,None,None,None,None,[Z942]
2,1000163,11.0,None,[180],"[A559, O012]",None,[I603],None,None,None,...,None,None,1,None,None,None,None,None,None,"[U051, U114, Y532, Y534, Y973, Y981, Z356, Z943]"
3,1000196,3.0,None,[180],[H519],None,[K643],None,[I10],None,...,None,None,2,None,None,None,None,None,None,"[H259, Z286]"
4,1000221,5.0,None,"[180, 190]","[M813, T202]",None,"[K409, N359]",None,None,None,...,None,None,1,2,None,None,None,None,None,"[Z942, Z943]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,137.0,None,[180],"[E091, F341, G451, G459, K631, K634, K752, L74...","[V436, Y541, Y832, Y841]","[D172, D509, E835, E875, I200, I209, I214, I25...",None,"[A418, B370, B956, B962, D649, E112, E119, E21...",None,...,None,None,1,2,None,None,None,None,None,"[A812, E041, S063, S132, U201, U202, X403, Y03..."
502124,6021216,6.0,None,None,"[A521, H425, M538, Q181, V544]",None,"[K623, M543, N393, N923]",None,None,None,...,None,None,1,2,None,None,None,None,None,[Y809]
502125,6021303,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502126,6021358,2.0,None,[190],"[Q188, X339]",None,[N950],None,"[B968, N852, N898]",None,...,None,None,1,None,None,None,None,None,None,None
502127,6021392,8.0,None,None,"[Q124, Q171, R213, X403]",None,"[J189, O021, O200, O262, O321, O422, O831, R07...",None,"[F329, F500, F530, G439, I958, J459, J984, M41...",None,...,None,None,1,2,None,None,None,None,None,"[R271, X403, Y803, Y841]"

Retrieving fields for group 28 with 20 fields

,eid,p41211_a0,p41211_a1,p41211_a2,p41211_a3,p41211_a4,p41211_a5,p41211_a6,p41211_a7,p41211_a8,...,p41221,p41222,p41223,p41224,p41225,p41226,p41227,p41228,p41229,p41230
0,1000122,19,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,[5QC],[5QC]
1,1000150,10,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1000163,19,98,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,[5QJ],[5QJ]
3,1000196,19,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,[5AT],[5AT]
4,1000221,19,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,[5FL],[5FL]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,19,51,79,98,None,None,None,None,None,...,None,None,None,None,None,None,None,None,[5N2],"[5LJ, 5N2]"
502124,6021216,19,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502125,6021303,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502126,6021358,19,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,[5EM]
502127,6021392,19,51,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

Retrieving fields for group 29 with 20 fields

,eid,p41231,p41232,p41233_a0,p41233_a1,p41233_a2,p41233_a3,p41233_a4,p41233_a5,p41233_a6,...,p41260_a46,p41260_a47,p41260_a48,p41260_a49,p41260_a50,p41260_a51,p41260_a52,p41260_a53,p41260_a54,p41260_a55
0,1000122,[1],None,19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1000150,None,None,10,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1000163,[1],None,19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1000196,[1],None,19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1000221,[1],[10],19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,[1],[10],19,51,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502124,6021216,None,None,19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502125,6021303,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502126,6021358,[1],[10],19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502127,6021392,None,None,19,52,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

Retrieving fields for group 30 with 20 fields

,eid,p41261,p41262_a0,p41262_a1,p41262_a2,p41262_a3,p41262_a4,p41262_a5,p41262_a6,p41262_a7,...,p41280_a249,p41280_a250,p41280_a251,p41280_a252,p41280_a253,p41280_a254,p41280_a255,p41280_a256,p41280_a257,p41280_a258
0,1000122,NaN,2018-02-05,2019-01-16,2013-05-23,2012-01-31,2020-02-20,2014-01-17,2018-08-10,2018-01-23,...,None,None,None,None,None,None,None,None,None,None
1,1000150,NaN,1999-12-21,2021-02-12,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1000163,NaN,2015-02-17,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1000196,NaN,2018-03-22,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1000221,NaN,2017-03-10,1997-11-03,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,2009-08-03,2010-08-12,2020-08-20,2012-07-13,2004-07-08,2013-05-22,2017-08-03,2010-08-17,...,None,None,None,None,None,None,None,None,None,None
502124,6021216,NaN,2013-08-29,1996-09-23,2004-11-23,2006-04-19,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502125,6021303,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502126,6021358,NaN,1999-10-08,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502127,6021392,NaN,2019-01-26,1998-10-30,1998-11-14,1999-10-14,1999-11-30,1999-10-14,1999-12-03,2022-03-09,...,None,None,None,None,None,None,None,None,None,None

Retrieving fields for group 31 with 20 fields

,eid,p41281_a0,p41281_a1,p41281_a2,p41281_a3,p41281_a4,p41281_a5,p41281_a6,p41281_a7,p41281_a8,...,p42001,p42002,p42003,p42004,p42005,p42006,p42007,p42008,p42009,p42010
0,1451876,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
1,3046819,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
2,5015491,None,None,None,None,None,None,None,None,None,...,0.0,None,NaN,2024-01-06,12.0,None,NaN,None,NaN,None
3,1598419,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
4,3293483,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502124,3834454,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502125,5758738,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502126,5115563,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,2004-04-19,0.0,None,NaN,None
502127,3943404,None,None,None,None,None,None,None,None,None,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None

Retrieving fields for group 32 with 20 fields

,eid,p42011,p42012,p42013,p42014,p42015,p42016,p42017,p42018,p42019,...,p42021,p42022,p42023,p42024,p42025,p42026,p42027,p42028,p42029,p42030
0,1451876,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
1,3046819,NaN,None,NaN,1963-02-06,0.0,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
2,5015491,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
3,1598419,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
4,3293483,NaN,None,NaN,None,NaN,None,NaN,2017-02-03,21.0,...,21.0,None,NaN,None,NaN,None,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502124,3834454,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502125,5758738,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502126,5115563,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
502127,3943404,NaN,None,NaN,None,NaN,None,NaN,None,NaN,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None

Retrieving fields for group 33 with 20 fields

,eid,p42031,p42032,p42033,p42034,p42035,p42036,p42037,p42038,p42039,...,p110008_i1,p110008_i2,p130000,p130001,p130002,p130003,p130004,p130005,p130006,p130007
0,1451876,NaN,None,NaN,None,NaN,None,NaN,NaN,NaN,...,2013-03-17,None,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,NaN,None,NaN,None,NaN,None,NaN,NaN,NaN,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,NaN,None,NaN,None,NaN,None,NaN,NaN,NaN,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,NaN,None,NaN,None,NaN,None,NaN,NaN,NaN,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,NaN,None,NaN,None,NaN,None,NaN,1.0,1223.0,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,None,NaN,None,NaN,None,NaN,NaN,NaN,...,2012-08-07,None,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,NaN,None,NaN,None,NaN,None,NaN,2.0,13.0,...,2012-09-23,None,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,NaN,None,NaN,None,NaN,None,NaN,1.0,1327.0,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,NaN,None,NaN,None,NaN,None,NaN,NaN,NaN,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,NaN,None,NaN,None,NaN,None,NaN,4.0,128.0,...,None,None,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 34 with 20 fields

,eid,p130008,p130009,p130010,p130011,p130012,p130013,p130014,p130015,p130016,...,p130018,p130019,p130020,p130021,p130022,p130023,p130024,p130025,p130026,p130027
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2014-06-25,40.0,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,1999-05-11,30.0,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 35 with 20 fields

,eid,p130028,p130029,p130030,p130031,p130034,p130035,p130036,p130037,p130038,p130039,p130040,p130041,p130042,p130043,p130044,p130045,p130046,p130047
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 36 with 20 fields

,eid,p130048,p130049,p130050,p130051,p130052,p130053,p130054,p130055,p130058,p130059,p130060,p130061,p130062,p130063,p130064,p130065,p130066,p130067
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 37 with 20 fields

,eid,p130068,p130069,p130070,p130071,p130072,p130073,p130074,p130075,p130076,...,p130078,p130079,p130080,p130081,p130082,p130083,p130084,p130085,p130086,p130087
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 38 with 20 fields

,eid,p130088,p130089,p130090,p130091,p130092,p130093,p130094,p130095,p130096,p130097,p130100,p130101,p130102,p130103,p130104,p130105,p130106,p130107
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 39 with 20 fields

,eid,p130108,p130109,p130112,p130113,p130114,p130115,p130116,p130117,p130118,p130119,p130120,p130121,p130122,p130123,p130124,p130125,p130126,p130127
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 40 with 20 fields

,eid,p130128,p130129,p130130,p130131,p130132,p130133,p130134,p130135,p130136,...,p130138,p130139,p130140,p130141,p130142,p130143,p130144,p130145,p130146,p130147
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 41 with 20 fields

,eid,p130148,p130149,p130150,p130151,p130152,p130153,p130154,p130155,p130156,p130157,p130158,p130159,p130160,p130161,p130162,p130163,p130164,p130165
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 42 with 20 fields

,eid,p130168,p130169,p130170,p130171,p130174,p130175,p130176,p130177,p130178,p130179,p130180,p130181,p130184,p130185,p130186,p130187
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,1972-02-01,50.0,None,NaN,None,NaN,1972-02-01,50.0,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 43 with 20 fields

,eid,p130188,p130189,p130190,p130191,p130192,p130193,p130194,p130195,p130196,...,p130198,p130199,p130200,p130201,p130202,p130203,p130204,p130205,p130206,p130207
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,2000-10-11,30.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 44 with 20 fields

,eid,p130208,p130209,p130210,p130211,p130212,p130213,p130214,p130215,p130216,...,p130218,p130219,p130220,p130221,p130222,p130223,p130224,p130225,p130226,p130227
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2006-10-20,30.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2004-07-27,30.0,2013-04-17,30.0
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,1997-01-29,30.0
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 45 with 20 fields

,eid,p130228,p130229,p130230,p130231,p130232,p130233,p130234,p130235,p130236,p130237,p130240,p130241,p130242,p130243,p130244,p130245,p130246,p130247
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 46 with 20 fields

,eid,p130248,p130249,p130250,p130251,p130252,p130253,p130254,p130255,p130256,...,p130258,p130259,p130260,p130261,p130262,p130263,p130264,p130265,p130266,p130267
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 47 with 20 fields

,eid,p130270,p130271,p130272,p130273,p130274,p130275,p130276,p130277,p130280,p130281,p130282,p130283,p130284,p130285,p130286,p130287
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 48 with 20 fields

,eid,p130288,p130289,p130292,p130293,p130296,p130297,p130298,p130299,p130300,p130301,p130302,p130303,p130304,p130305,p130306,p130307
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 49 with 20 fields

,eid,p130308,p130309,p130310,p130311,p130312,p130313,p130314,p130315,p130316,...,p130318,p130319,p130320,p130321,p130322,p130323,p130324,p130325,p130326,p130327
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2000-12-22,30.0,None,NaN,None,NaN,None,NaN

Retrieving fields for group 50 with 20 fields

,eid,p130328,p130329,p130330,p130331,p130334,p130335,p130336,p130337,p130338,p130339,p130340,p130341,p130342,p130343,p130344,p130345,p130622,p130623
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 51 with 20 fields

,eid,p130624,p130625,p130626,p130627,p130628,p130629,p130630,p130631,p130632,...,p130634,p130635,p130636,p130637,p130638,p130639,p130640,p130641,p130642,p130643
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 52 with 20 fields

,eid,p130644,p130645,p130646,p130647,p130648,p130649,p130650,p130651,p130652,...,p130654,p130655,p130656,p130657,p130658,p130659,p130660,p130661,p130662,p130663
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 53 with 20 fields

,eid,p130664,p130665,p130666,p130667,p130668,p130669,p130670,p130671,p130672,...,p130674,p130675,p130676,p130677,p130678,p130679,p130680,p130681,p130682,p130683
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 54 with 20 fields

,eid,p130684,p130685,p130686,p130687,p130688,p130689,p130692,p130693,p130694,p130695,p130696,p130697,p130698,p130699,p130700,p130701,p130702,p130703
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,2006-07-01,51.0,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 55 with 20 fields

,eid,p130704,p130705,p130706,p130707,p130708,p130709,p130710,p130711,p130712,...,p130714,p130715,p130716,p130717,p130718,p130719,p130720,p130721,p130722,p130723
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,2020-03-03,41.0,None,NaN,None,...,2007-10-01,50.0,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,2018-07-01,51.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 56 with 20 fields

,eid,p130724,p130725,p130726,p130727,p130728,p130729,p130730,p130731,p130732,...,p130734,p130735,p130736,p130737,p130738,p130739,p130740,p130741,p130742,p130743
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 57 with 20 fields

,eid,p130744,p130745,p130746,p130747,p130748,p130749,p130750,p130751,p130752,p130753,p130756,p130757,p130758,p130759,p130760,p130761,p130762,p130763
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 58 with 20 fields

,eid,p130764,p130765,p130766,p130767,p130768,p130769,p130770,p130771,p130772,...,p130774,p130775,p130776,p130777,p130778,p130779,p130780,p130781,p130782,p130783
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 59 with 20 fields

,eid,p130784,p130785,p130786,p130787,p130788,p130789,p130790,p130791,p130792,...,p130794,p130795,p130796,p130797,p130798,p130799,p130800,p130801,p130802,p130803
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,2018-10-01,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,2014-08-20,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 60 with 20 fields

,eid,p130804,p130805,p130806,p130807,p130808,p130809,p130810,p130811,p130812,...,p130814,p130815,p130816,p130817,p130818,p130819,p130820,p130821,p130822,p130823
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2013-07-01,50.0,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2001-07-01,50.0,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2018-07-01,50.0,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2007-07-01,51.0,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 61 with 20 fields

,eid,p130824,p130825,p130826,p130827,p130828,p130829,p130830,p130831,p130832,p130833,p130836,p130837,p130838,p130839,p130840,p130841,p130842,p130843
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,2017-06-24,40.0,None,NaN,2017-10-14,40.0,2017-02-03,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,2010-03-19,30.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 62 with 20 fields

,eid,p130844,p130845,p130846,p130847,p130848,p130849,p130850,p130851,p130852,...,p130854,p130855,p130856,p130857,p130858,p130859,p130860,p130861,p130862,p130863
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 63 with 20 fields

,eid,p130864,p130865,p130866,p130867,p130868,p130869,p130870,p130871,p130872,...,p130874,p130875,p130876,p130877,p130878,p130879,p130880,p130881,p130882,p130883
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,2021-03-30,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 64 with 20 fields

,eid,p130884,p130885,p130886,p130887,p130888,p130889,p130890,p130891,p130892,...,p130894,p130895,p130896,p130897,p130898,p130899,p130900,p130901,p130902,p130903
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2012-06-08,40.0,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 65 with 20 fields

,eid,p130904,p130905,p130906,p130907,p130908,p130909,p130910,p130911,p130912,...,p130914,p130915,p130916,p130917,p130918,p130919,p130920,p130921,p130922,p130923
0,1451876,None,NaN,2019-12-20,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,1995-07-01,51.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2002-10-04,30.0
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2017-06-06,30.0

Retrieving fields for group 66 with 20 fields

,eid,p130924,p130925,p130926,p130927,p130928,p130929,p130930,p130931,p130932,...,p130934,p130935,p130936,p130937,p130938,p130939,p130940,p130941,p130942,p130943
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 67 with 20 fields

,eid,p130944,p130945,p130946,p130947,p130948,p130949,p130950,p130951,p130952,p130953,p130954,p130955,p130958,p130959,p130960,p130961,p130962,p130963
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 68 with 20 fields

,eid,p130964,p130965,p130966,p130967,p130968,p130969,p130970,p130971,p130972,...,p130974,p130975,p130976,p130977,p130978,p130979,p130980,p130981,p130982,p130983
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 69 with 20 fields

,eid,p130984,p130985,p130986,p130987,p130988,p130989,p130990,p130991,p130992,...,p130994,p130995,p130996,p130997,p130998,p130999,p131000,p131001,p131002,p131003
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,1988-07-25,...,None,NaN,None,NaN,1988-07-01,50.0,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 70 with 20 fields

,eid,p131004,p131005,p131006,p131007,p131008,p131009,p131010,p131011,p131012,...,p131014,p131015,p131016,p131017,p131018,p131019,p131020,p131021,p131022,p131023
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 71 with 20 fields

,eid,p131024,p131025,p131026,p131027,p131028,p131029,p131030,p131031,p131032,p131033,p131036,p131037,p131038,p131039,p131040,p131041,p131042,p131043
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,2017-06-24,40.0,2017-10-14,40.0,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 72 with 20 fields

,eid,p131044,p131045,p131046,p131047,p131048,p131049,p131050,p131051,p131052,...,p131054,p131055,p131056,p131057,p131058,p131059,p131060,p131061,p131062,p131063
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,2017-02-03,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,2016-03-23,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 73 with 20 fields

,eid,p131064,p131065,p131066,p131067,p131068,p131069,p131070,p131071,p131072,...,p131074,p131075,p131076,p131077,p131078,p131079,p131080,p131081,p131082,p131083
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 74 with 20 fields

,eid,p131084,p131085,p131086,p131087,p131088,p131089,p131090,p131091,p131092,...,p131094,p131095,p131096,p131097,p131098,p131099,p131100,p131101,p131102,p131103
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 75 with 20 fields

,eid,p131104,p131105,p131106,p131107,p131108,p131109,p131110,p131111,p131112,...,p131114,p131115,p131116,p131117,p131118,p131119,p131120,p131121,p131122,p131123
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 76 with 20 fields

,eid,p131124,p131125,p131126,p131127,p131128,p131129,p131130,p131131,p131132,...,p131134,p131135,p131136,p131137,p131138,p131139,p131140,p131141,p131142,p131143
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,2012-08-20,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,2002-06-13,30.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,2018-02-09,...,None,NaN,None,NaN,None,NaN,None,NaN,1995-05-05,30.0

Retrieving fields for group 77 with 20 fields

,eid,p131144,p131145,p131146,p131147,p131148,p131149,p131150,p131151,p131152,...,p131154,p131155,p131156,p131157,p131158,p131159,p131160,p131161,p131162,p131163
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 78 with 20 fields

,eid,p131164,p131165,p131166,p131167,p131168,p131169,p131170,p131171,p131172,...,p131174,p131175,p131176,p131177,p131178,p131179,p131180,p131181,p131182,p131183
0,1451876,None,NaN,2011-03-01,51.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2019-08-20,40.0,2019-07-18,40.0
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,2012-04-13,41.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,2017-02-16,30.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2018-02-09,40.0

Retrieving fields for group 79 with 20 fields

,eid,p131184,p131185,p131186,p131187,p131188,p131189,p131190,p131191,p131192,...,p131194,p131195,p131196,p131197,p131198,p131199,p131200,p131201,p131202,p131203
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,2016-10-21,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,2006-01-31,30.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,2017-02-16,31.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 80 with 20 fields

,eid,p131204,p131205,p131206,p131207,p131208,p131209,p131210,p131211,p131212,...,p131214,p131215,p131216,p131217,p131218,p131219,p131220,p131221,p131222,p131223
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,2016-10-21,40.0,None,NaN,2016-10-21,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,1994-08-01,31.0

Retrieving fields for group 81 with 20 fields

,eid,p131224,p131225,p131226,p131227,p131228,p131229,p131230,p131231,p131232,...,p131234,p131235,p131236,p131237,p131238,p131239,p131240,p131241,p131242,p131243
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,2011-04-18,30.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,1999-08-13,30.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 82 with 20 fields

,eid,p131244,p131245,p131246,p131247,p131248,p131249,p131250,p131251,p131252,...,p131254,p131255,p131256,p131257,p131258,p131259,p131260,p131261,p131262,p131263
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2020-08-12,40.0,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2010-12-15,30.0,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2004-01-21,30.0,2021-10-17,40.0,2006-12-19,30.0

Retrieving fields for group 83 with 20 fields

,eid,p131264,p131265,p131266,p131267,p131268,p131269,p131270,p131271,p131272,...,p131274,p131275,p131276,p131277,p131278,p131279,p131280,p131281,p131282,p131283
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,2013-05-14,30.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 84 with 20 fields

,eid,p131284,p131285,p131286,p131287,p131288,p131289,p131290,p131291,p131292,...,p131294,p131295,p131296,p131297,p131298,p131299,p131300,p131301,p131302,p131303
0,1451876,None,NaN,2003-03-01,51.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,2024-01-06,20.0,2020-03-03,40.0,None,NaN,None,...,None,NaN,None,NaN,1993-10-01,51.0,None,NaN,None,NaN
3,1598419,None,NaN,2019-10-18,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,2012-06-08,40.0,None,NaN,None,NaN,None,...,None,NaN,1997-07-01,51.0,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,2016-03-23,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,1999-03-01,51.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 85 with 20 fields

,eid,p131304,p131305,p131306,p131307,p131308,p131309,p131310,p131311,p131312,...,p131314,p131315,p131316,p131317,p131318,p131319,p131320,p131321,p131322,p131323
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,2003-12-16,41.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,2014-06-25,40.0,2016-09-15,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,2011-09-29,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 86 with 20 fields

,eid,p131324,p131325,p131326,p131327,p131328,p131329,p131330,p131331,p131332,...,p131334,p131335,p131336,p131337,p131338,p131339,p131340,p131341,p131342,p131343
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 87 with 20 fields

,eid,p131344,p131345,p131346,p131347,p131348,p131349,p131350,p131351,p131352,...,p131354,p131355,p131356,p131357,p131358,p131359,p131360,p131361,p131362,p131363
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,1999-03-01,51.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 88 with 20 fields

,eid,p131364,p131365,p131366,p131367,p131368,p131369,p131370,p131371,p131372,...,p131374,p131375,p131376,p131377,p131378,p131379,p131380,p131381,p131382,p131383
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2020-03-03,40.0
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,2004-04-01,50.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 89 with 20 fields

,eid,p131384,p131385,p131386,p131387,p131388,p131389,p131390,p131391,p131392,...,p131394,p131395,p131396,p131397,p131398,p131399,p131400,p131401,p131402,p131403
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,2021-03-30,40.0,None,NaN,2020-03-03,40.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 90 with 20 fields

,eid,p131404,p131405,p131406,p131407,p131408,p131409,p131410,p131411,p131412,...,p131414,p131415,p131416,p131417,p131418,p131419,p131420,p131421,p131422,p131423
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,2011-10-13,40.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 91 with 20 fields

,eid,p131424,p131425,p131426,p131427,p131428,p131429,p131430,p131431,p131432,...,p131434,p131435,p131436,p131437,p131438,p131439,p131440,p131441,p131442,p131443
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2003-12-16,40.0,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2008-08-08,30.0,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,2019-01-23,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,2011-04-05,30.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2010-12-22,30.0
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,2003-12-30,30.0,1999-11-19,30.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 92 with 20 fields

,eid,p131444,p131445,p131446,p131447,p131448,p131449,p131450,p131451,p131452,...,p131454,p131455,p131456,p131457,p131458,p131459,p131460,p131461,p131462,p131463
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2024-01-06,20.0,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2016-09-15,40.0,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2011-01-07,30.0
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 93 with 20 fields

,eid,p131464,p131465,p131466,p131467,p131468,p131469,p131470,p131471,p131472,...,p131474,p131475,p131476,p131477,p131478,p131479,p131480,p131481,p131482,p131483
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,2007-04-20,30.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 94 with 20 fields

,eid,p131484,p131485,p131486,p131487,p131488,p131489,p131490,p131491,p131492,...,p131494,p131495,p131496,p131497,p131498,p131499,p131500,p131501,p131502,p131503
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,1958-02-01,51.0,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 95 with 20 fields

,eid,p131504,p131505,p131506,p131507,p131508,p131509,p131512,p131513,p131514,p131515,p131516,p131517,p131518,p131519,p131520,p131521,p131522,p131523
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 96 with 20 fields

,eid,p131524,p131525,p131526,p131527,p131528,p131529,p131530,p131531,p131532,...,p131534,p131535,p131536,p131537,p131538,p131539,p131540,p131541,p131542,p131543
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,2016-09-15,40.0,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2009-12-09,31.0,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 97 with 20 fields

,eid,p131544,p131545,p131546,p131547,p131548,p131549,p131550,p131551,p131552,...,p131554,p131555,p131556,p131557,p131558,p131559,p131560,p131561,p131562,p131563
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 98 with 20 fields

,eid,p131564,p131565,p131566,p131567,p131568,p131569,p131570,p131571,p131572,...,p131574,p131575,p131576,p131577,p131578,p131579,p131580,p131581,p131582,p131583
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 99 with 20 fields

,eid,p131584,p131585,p131586,p131587,p131588,p131589,p131590,p131591,p131592,...,p131594,p131595,p131596,p131597,p131598,p131599,p131600,p131601,p131602,p131603
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2006-12-06,31.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,2016-07-08,40.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2016-07-08,31.0,None,NaN,None,NaN

Retrieving fields for group 100 with 20 fields

,eid,p131604,p131605,p131606,p131607,p131608,p131609,p131610,p131611,p131612,...,p131614,p131615,p131616,p131617,p131618,p131619,p131620,p131621,p131622,p131623
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,2010-09-11,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 101 with 20 fields

,eid,p131624,p131625,p131626,p131627,p131628,p131629,p131630,p131631,p131632,...,p131634,p131635,p131636,p131637,p131638,p131639,p131640,p131641,p131642,p131643
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2012-01-12,40.0,2020-08-12,40.0,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2019-10-18,40.0,2019-10-18,40.0
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2002-11-18,30.0,2014-06-25,40.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2014-08-20,40.0,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2021-04-08,40.0,None,NaN,2021-04-08,40.0,None,NaN

Retrieving fields for group 102 with 20 fields

,eid,p131644,p131645,p131646,p131647,p131648,p131649,p131650,p131651,p131652,...,p131654,p131655,p131656,p131657,p131658,p131659,p131660,p131661,p131662,p131663
0,1451876,None,NaN,2019-09-24,40.0,2019-09-24,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,2003-03-18,30.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,2021-10-17,40.0,2021-10-17,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 103 with 20 fields

,eid,p131664,p131665,p131666,p131667,p131668,p131669,p131670,p131671,p131672,...,p131674,p131675,p131676,p131677,p131678,p131679,p131680,p131681,p131682,p131683
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,2019-10-18,40.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 104 with 20 fields

,eid,p131684,p131685,p131686,p131687,p131688,p131689,p131690,p131691,p131692,...,p131694,p131695,p131696,p131697,p131698,p131699,p131700,p131701,p131702,p131703
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2021-05-28,40.0
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2007-01-10,40.0,None,NaN

Retrieving fields for group 105 with 20 fields

,eid,p131704,p131705,p131706,p131707,p131708,p131709,p131710,p131711,p131712,...,p131714,p131715,p131716,p131717,p131718,p131719,p131720,p131721,p131722,p131723
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2013-03-07,30.0

Retrieving fields for group 106 with 20 fields

,eid,p131724,p131725,p131726,p131727,p131728,p131729,p131730,p131731,p131732,...,p131734,p131735,p131736,p131737,p131738,p131739,p131740,p131741,p131742,p131743
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,1987-04-14,30.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2009-02-05,30.0,None,NaN,None,NaN

Retrieving fields for group 107 with 20 fields

,eid,p131744,p131745,p131746,p131747,p131748,p131749,p131750,p131751,p131754,p131755,p131756,p131757,p131758,p131759,p131760,p131761,p131762,p131763
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,2001-05-24,30.0,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 108 with 20 fields

,eid,p131764,p131765,p131766,p131767,p131768,p131769,p131770,p131771,p131772,...,p131774,p131775,p131776,p131777,p131778,p131779,p131780,p131781,p131782,p131783
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 109 with 20 fields

,eid,p131784,p131785,p131786,p131787,p131788,p131789,p131790,p131791,p131792,...,p131794,p131795,p131796,p131797,p131798,p131799,p131800,p131801,p131802,p131803
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 110 with 20 fields

,eid,p131804,p131805,p131806,p131807,p131808,p131809,p131810,p131811,p131812,...,p131814,p131815,p131816,p131817,p131818,p131819,p131820,p131821,p131822,p131823
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 111 with 20 fields

,eid,p131824,p131825,p131826,p131827,p131828,p131829,p131830,p131831,p131832,...,p131834,p131835,p131836,p131837,p131838,p131839,p131840,p131841,p131842,p131843
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,1999-02-24,30.0,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 112 with 20 fields

,eid,p131844,p131845,p131846,p131847,p131848,p131849,p131850,p131851,p131852,...,p131854,p131855,p131856,p131857,p131858,p131859,p131860,p131861,p131862,p131863
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,1999-03-11,30.0,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 113 with 20 fields

,eid,p131864,p131865,p131866,p131867,p131868,p131869,p131870,p131871,p131872,...,p131874,p131875,p131876,p131877,p131878,p131879,p131880,p131881,p131882,p131883
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2019-09-24,40.0,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,2017-08-02,40.0,None,NaN,None,NaN,2016-03-23,40.0,None,...,None,NaN,2016-03-23,40.0,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,2008-06-10,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,2015-10-22,30.0,None,NaN,None,NaN,None,NaN

Retrieving fields for group 114 with 20 fields

,eid,p131884,p131885,p131886,p131887,p131888,p131889,p131890,p131891,p131892,...,p131894,p131895,p131896,p131897,p131898,p131899,p131900,p131901,p131902,p131903
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 115 with 20 fields

,eid,p131904,p131905,p131906,p131907,p131908,p131909,p131910,p131911,p131912,...,p131914,p131915,p131916,p131917,p131918,p131919,p131920,p131921,p131922,p131923
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,1983-07-01,50.0,None,NaN,None,NaN,2020-08-12,40.0
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2020-03-03,40.0,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 116 with 20 fields

,eid,p131924,p131925,p131926,p131927,p131928,p131929,p131930,p131931,p131932,...,p131934,p131935,p131936,p131937,p131938,p131939,p131940,p131941,p131942,p131943
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,2007-07-01,50.0,None,NaN,2019-10-18,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,2005-12-01,30.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,2000-03-01,50.0,None,NaN,2000-03-01,51.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,1975-03-01,50.0,None,NaN,1995-10-03,30.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 117 with 20 fields

,eid,p131944,p131945,p131946,p131947,p131948,p131949,p131950,p131951,p131952,...,p131954,p131955,p131956,p131957,p131958,p131959,p131960,p131961,p131962,p131963
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2009-10-06,30.0,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,2017-01-19,30.0,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,2014-05-06,30.0,None,NaN

Retrieving fields for group 118 with 20 fields

,eid,p131964,p131965,p131966,p131967,p131968,p131969,p131970,p131971,p131972,...,p131974,p131975,p131976,p131977,p131978,p131979,p131980,p131981,p131982,p131983
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,2008-07-01,50.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 119 with 20 fields

,eid,p131984,p131985,p131986,p131987,p131988,p131989,p131990,p131991,p131992,...,p131994,p131995,p131996,p131997,p131998,p131999,p132000,p132001,p132002,p132003
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 120 with 20 fields

,eid,p132004,p132005,p132006,p132007,p132008,p132009,p132010,p132011,p132012,...,p132014,p132015,p132016,p132017,p132018,p132019,p132020,p132021,p132022,p132023
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 121 with 20 fields

,eid,p132024,p132025,p132026,p132027,p132028,p132029,p132030,p132031,p132032,...,p132034,p132035,p132036,p132037,p132038,p132039,p132040,p132041,p132042,p132043
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,2019-09-24,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 122 with 20 fields

,eid,p132044,p132045,p132046,p132047,p132048,p132049,p132050,p132051,p132052,...,p132054,p132055,p132056,p132057,p132058,p132059,p132060,p132061,p132062,p132063
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,2015-12-10,40.0,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,1962-07-01,51.0,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 123 with 20 fields

,eid,p132064,p132065,p132066,p132067,p132068,p132069,p132070,p132071,p132072,...,p132074,p132075,p132076,p132077,p132078,p132079,p132080,p132081,p132082,p132083
0,1451876,None,NaN,None,NaN,None,NaN,2001-05-09,40.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,2006-01-11,30.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,1993-12-02,30.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 124 with 20 fields

,eid,p132084,p132085,p132086,p132087,p132088,p132089,p132090,p132091,p132092,...,p132094,p132095,p132096,p132097,p132098,p132099,p132100,p132101,p132102,p132103
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 125 with 20 fields

,eid,p132104,p132105,p132106,p132107,p132108,p132109,p132110,p132111,p132112,...,p132114,p132115,p132116,p132117,p132118,p132119,p132120,p132121,p132122,p132123
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,2001-09-12,30.0,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,2010-05-17,40.0
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 126 with 20 fields

,eid,p132124,p132125,p132126,p132127,p132128,p132129,p132130,p132131,p132132,...,p132134,p132135,p132136,p132137,p132138,p132139,p132140,p132141,p132142,p132143
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,2018-10-01,40.0,None,NaN,None,NaN,2017-08-02,40.0,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,2010-05-17,40.0,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 127 with 20 fields

,eid,p132144,p132145,p132146,p132147,p132148,p132149,p132150,p132151,p132152,...,p132154,p132155,p132156,p132157,p132158,p132159,p132160,p132161,p132162,p132163
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 128 with 20 fields

,eid,p132164,p132165,p132166,p132167,p132168,p132169,p132170,p132171,p132172,...,p132174,p132175,p132176,p132177,p132178,p132179,p132180,p132181,p132182,p132183
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 129 with 20 fields

,eid,p132184,p132185,p132186,p132187,p132188,p132189,p132190,p132191,p132192,...,p132194,p132195,p132196,p132197,p132198,p132199,p132200,p132201,p132202,p132203
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 130 with 20 fields

,eid,p132204,p132205,p132206,p132207,p132208,p132209,p132210,p132211,p132212,...,p132214,p132215,p132216,p132217,p132218,p132219,p132220,p132221,p132222,p132223
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 131 with 20 fields

,eid,p132224,p132225,p132226,p132227,p132228,p132229,p132230,p132231,p132232,...,p132234,p132235,p132236,p132237,p132238,p132239,p132240,p132241,p132242,p132243
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 132 with 20 fields

,eid,p132244,p132245,p132246,p132247,p132248,p132249,p132250,p132251,p132252,...,p132254,p132255,p132256,p132257,p132258,p132259,p132260,p132261,p132262,p132263
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 133 with 20 fields

,eid,p132264,p132265,p132266,p132267,p132268,p132269,p132270,p132271,p132272,...,p132274,p132275,p132276,p132277,p132278,p132279,p132280,p132281,p132282,p132283
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 134 with 20 fields

,eid,p132284,p132285,p132286,p132287,p132288,p132289,p132290,p132291,p132292,...,p132294,p132295,p132296,p132297,p132298,p132299,p132300,p132301,p132302,p132303
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 135 with 20 fields

,eid,p132306,p132307,p132310,p132311,p132312,p132313,p132314,p132315,p132318,p132319,p132320,p132321,p132322,p132323
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 136 with 20 fields

,eid,p132324,p132325,p132326,p132327,p132328,p132329,p132330,p132331,p132332,...,p132334,p132335,p132336,p132337,p132338,p132339,p132340,p132341,p132342,p132343
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 137 with 20 fields

,eid,p132344,p132345,p132346,p132347,p132348,p132349,p132350,p132351,p132352,...,p132354,p132355,p132356,p132357,p132358,p132359,p132360,p132361,p132362,p132363
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 138 with 20 fields

,eid,p132364,p132365,p132366,p132367,p132368,p132369,p132370,p132371,p132372,...,p132374,p132375,p132376,p132377,p132378,p132379,p132380,p132381,p132382,p132383
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 139 with 20 fields

,eid,p132388,p132389,p132390,p132391,p132394,p132395,p132396,p132397,p132398,p132399
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 140 with 20 fields

,eid,p132408,p132409,p132410,p132411,p132416,p132417,p132420,p132421,p132422,p132423
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 141 with 20 fields

,eid,p132426,p132427,p132428,p132429,p132430,p132431,p132432,p132433,p132434,p132435,p132436,p132437,p132438,p132439,p132440,p132441,p132442,p132443
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 142 with 20 fields

,eid,p132444,p132445,p132446,p132447,p132448,p132449,p132450,p132451,p132452,...,p132454,p132455,p132456,p132457,p132458,p132459,p132460,p132461,p132462,p132463
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 143 with 20 fields

,eid,p132464,p132465,p132466,p132467,p132468,p132469,p132470,p132471,p132472,...,p132474,p132475,p132476,p132477,p132478,p132479,p132480,p132481,p132482,p132483
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 144 with 20 fields

,eid,p132484,p132485,p132486,p132487,p132488,p132489,p132490,p132491,p132492,...,p132494,p132495,p132496,p132497,p132498,p132499,p132500,p132501,p132502,p132503
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 145 with 20 fields

,eid,p132504,p132505,p132506,p132507,p132508,p132509,p132510,p132511,p132512,...,p132514,p132515,p132516,p132517,p132518,p132519,p132520,p132521,p132522,p132523
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 146 with 20 fields

,eid,p132524,p132525,p132526,p132527,p132528,p132529,p132530,p132531,p132532,...,p132534,p132535,p132536,p132537,p132538,p132539,p132540,p132541,p132542,p132543
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 147 with 20 fields

,eid,p132544,p132545,p132546,p132547,p132548,p132549,p132550,p132551,p132552,...,p132554,p132555,p132556,p132557,p132558,p132559,p132560,p132561,p132562,p132563
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 148 with 20 fields

,eid,p132564,p132565,p132566,p132567,p132568,p132569,p132570,p132571,p132572,...,p132574,p132575,p132576,p132577,p132578,p132579,p132580,p132581,p132582,p132583
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 149 with 20 fields

,eid,p132584,p132585,p132586,p132587,p132588,p132589,p132590,p132591,p132592,...,p132594,p132595,p132596,p132597,p132598,p132599,p132600,p132601,p132602,p132603
0,1451876,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,3046819,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,5015491,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,1598419,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,3293483,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502124,3834454,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502125,5758738,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502126,5115563,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
502127,3943404,None,NaN,None,NaN,None,NaN,None,NaN,None,...,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

Retrieving fields for group 150 with 2 fields

            eid p132604  p132605
0       1451876    None      NaN
1       3046819    None      NaN
2       5015491    None      NaN
3       1598419    None      NaN
4       3293483    None      NaN
...         ...     ...      ...
502123  2998069    None      NaN
502124  3834454    None      NaN
502125  5758738    None      NaN
502126  5115563    None      NaN
502127  3943404    None      NaN

[502128 rows x 3 columns]