In [1]:
import dxpy
import dxdata
import pandas as pd
import pyspark
import subprocess
from pyspark.sql import SQLContext
from pyspark import SparkConf, SparkContext

dxdata.__version__
connection = dxdata.connect()
conf = pyspark.SparkConf().set("spark.kryoserializer.buffer.max", "2000m")

/opt/conda/lib/python3.11/site-packages/thrift/transport/TSSLSocket.py:53: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  self._context = ssl.SSLContext(ssl_version)

In [2]:
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)

In [3]:
# Automatically discover dispensed database name and dataset id
dispensed_database = dxpy.find_one_data_object(
    classname='database', 
    name='app*', 
    folder='/', 
    name_mode='glob', 
    describe=True)
dispensed_database_name = dispensed_database['describe']['name']

dispensed_dataset = dxpy.find_one_data_object(
    typename='Dataset', 
    name='app*.dataset', 
    folder='/', 
    name_mode='glob')
dispensed_dataset_id = dispensed_dataset['id']
dataset = dxdata.load_dataset(id=dispensed_dataset_id)
dataset.entities

[<Entity "participant">,
 <Entity "covid19_result_england">,
 <Entity "covid19_result_scotland">,
 <Entity "covid19_result_wales">,
 <Entity "gp_clinical">,
 <Entity "gp_scripts">,
 <Entity "gp_registrations">,
 <Entity "hesin">,
 <Entity "hesin_diag">,
 <Entity "hesin_oper">,
 <Entity "hesin_critical">,
 <Entity "hesin_maternity">,
 <Entity "hesin_delivery">,
 <Entity "hesin_psych">,
 <Entity "death">,
 <Entity "death_cause">,
 <Entity "olink_instance_0">,
 <Entity "olink_instance_2">,
 <Entity "olink_instance_3">]

In [4]:
participant = dataset['participant']

In [5]:
# Returns all field objects for a given UKB showcase field id
def fields_for_id(field_id):
    from distutils.version import LooseVersion
    field_id = str(field_id)
    fields = participant.find_fields(name_regex=r'^p{}(_i\d+)?(_a\d+)?$'.format(field_id))
    return sorted(fields, key=lambda f: LooseVersion(f.name))

# Returns all field names for a given UKB showcase field id
def field_names_for_id(field_id):
    return [f.name for f in fields_for_id(field_id)]

In [8]:
# split the recommended fields into a list
merged_fields = pd.read_csv("merged_fields_2.tsv", sep="\t", header=0)
merge_field_list = merged_fields["field_id"].tolist()
# cut the recommended fields list for 20 fields each group
merge_field_list = [merge_field_list[i:i + 20] for i in range(0, len(merge_field_list), 20)]
for i, group in enumerate(merge_field_list):
    # if i <= 83:
    #     continue
    print(f"Retrieving fields for group {i + 1} with {len(group)} fields")
    # change the group astype to string
    group = [str(x) for x in group]
    get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
    field_names = ['eid'] + get_ids
    df = participant.retrieve_fields(names=field_names, engine=connection)
    data = df.toPandas()
    display(data)
    # save the data to a file
    # if the file already exists, continue to the next iteration
    data.to_csv(f'./core_category/additive_group_{i + 1}.tsv', sep='\t', index=False, header=True)
    # Upload the file using subprocess
    subprocess.run([
        "dx", "upload", f"./core_category/additive_group_{i + 1}.tsv",
        "-p", "--path", "/Output/Traits/core_category/", "--brief"
    ], check=True)

Retrieving fields for group 1 with 20 fields

,eid,p20077,p20078_i0,p20078_i1,p20078_i2,p20078_i3,p20078_i4,p20079_i0,p20079_i1,p20079_i2,...,p20095_i0,p20095_i1,p20095_i2,p20095_i3,p20095_i4,p20096_i0,p20096_i1,p20096_i2,p20096_i3,p20096_i4
0,1451876,NaN,None,None,None,None,None,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
1,3046819,2.0,2009-08-08,None,None,2011-11-21,None,6.0,NaN,NaN,...,None,None,None,None,None,None,None,None,[2],None
2,5015491,NaN,None,None,None,None,None,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
3,1598419,5.0,2009-11-20,2011-04-02,2011-08-11,2011-11-27,2012-05-31,5.0,6.0,4.0,...,None,None,None,None,None,None,None,None,None,None
4,3293483,4.0,2010-07-02,2011-03-23,2011-07-31,2011-11-17,None,5.0,3.0,7.0,...,None,None,None,[1],None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,None,None,None,None,None,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502124,3834454,1.0,None,None,None,None,2012-05-12,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,[2]
502125,5758738,1.0,None,None,2011-08-29,None,None,NaN,NaN,1.0,...,None,None,[2],None,None,None,None,None,None,None
502126,5115563,2.0,2009-11-21,None,2011-07-20,None,None,6.0,NaN,3.0,...,None,None,None,None,None,None,None,None,None,None
502127,3943404,2.0,None,2011-03-13,None,2011-11-14,None,NaN,7.0,NaN,...,None,None,None,None,None,None,[2],None,[1],None

Retrieving fields for group 2 with 20 fields

,eid,p20097_i0,p20097_i1,p20097_i2,p20097_i3,p20097_i4,p20098_i0,p20098_i1,p20098_i2,p20098_i3,...,p20109_i3,p20109_i4,p20400,p20401,p20403,p20404,p20405,p20406,p20407,p20408
0,1451876,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,None,None,None,None,None,None,None,None,None,...,None,None,2016-08-30,0.0,2.0,NaN,0.0,NaN,1.0,1.0
2,5015491,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,None,None,None,None,None,None,None,None,None,...,None,None,2016-09-11,0.0,4.0,NaN,0.0,NaN,1.0,1.0
4,3293483,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,None,None,None,None,None,None,None,None,None,...,None,None,2016-09-22,0.0,1.0,NaN,0.0,NaN,NaN,NaN
502125,5758738,None,None,None,None,None,None,None,[2],None,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,None,None,None,None,None,None,None,None,None,...,None,None,2016-09-02,0.0,2.0,NaN,0.0,NaN,1.0,1.0

Retrieving fields for group 3 with 20 fields

,eid,p20409,p20410,p20411,p20412,p20413,p20414,p20415,p20416,p20417,...,p20419,p20420,p20421,p20422,p20423,p20425,p20426,p20427,p20428,p20429
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,1.0,NaN,0.0,1.0,1.0,3.0,NaN,2.0,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,1.0,NaN,0.0,1.0,1.0,2.0,NaN,3.0,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,0.0,NaN,NaN,2.0,NaN,1.0,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,1.0,NaN,0.0,1.0,1.0,4.0,NaN,2.0,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN

Retrieving fields for group 4 with 20 fields

,eid,p20431,p20432,p20433,p20434,p20435,p20436,p20437,p20438,p20439,...,p20441,p20442,p20445,p20446,p20447,p20448,p20449,p20450,p20453,p20454
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,54.0,54.0,-121.0,1.0,0.0,3.0,1.0,...,0.0,1.0,-313.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,3.0,1.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,35.0,36.0,0.0,3.0,0.0,5.0,2.0,...,0.0,1.0,-313.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN

Retrieving fields for group 5 with 20 fields

,eid,p20455,p20456,p20457,p20458,p20459,p20460,p20461,p20462,p20463,...,p20466,p20467,p20468,p20470,p20471,p20473,p20474,p20476,p20477,p20479
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,2.0,2.0,3.0,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,24.0,NaN,NaN,2.0,2.0,4.0,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,32.0,NaN,NaN,2.0,3.0,3.0,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,2.0,2.0,3.0,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0

Retrieving fields for group 6 with 20 fields

,eid,p20480,p20481,p20482,p20483,p20484,p20485,p20486,p20487,p20488,...,p20490,p20491,p20492,p20493,p20494,p20495,p20496,p20497,p20498,p20499
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,0.0,NaN,NaN,NaN,NaN,0.0,NaN,2.0,0.0,...,0.0,4.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,0.0,4.0,NaN,NaN,0.0,1.0,0.0,0.0,1.0,1.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.0,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,0.0,4.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,0.0,4.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0

Retrieving fields for group 7 with 20 fields

,eid,p20500,p20501,p20502,p20503,p20504,p20505,p20506,p20507,p20508,...,p20510,p20511,p20512,p20513,p20514,p20515,p20516,p20517,p20518,p20519
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,0.0,0.0,0.0,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,1.0,0.0,0.0,NaN,NaN,1.0,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.0,0.0,0.0,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,0.0,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

Retrieving fields for group 8 with 20 fields

,eid,p20520,p20521,p20522,p20523,p20524,p20525,p20526,p20527,p20528,...,p20530,p20531,p20532,p20533,p20534,p20535,p20536,p20537,p20538,p20539
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,1.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,1.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,-121.0,NaN,NaN,NaN,-121.0,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,1.0,0.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,1.0,1.0,4.0,1.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN

Retrieving fields for group 9 with 20 fields

,eid,p20540,p20541,p20542,p20543,p20544,p20546,p20547,p20548,p20549,...,p20551,p20552,p20553,p20554,p20599,p20600,p20601,p20602,p20603,p20604
0,1451876,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,"078,102,133,041,037,058,122,148,048,091,134,01...",1.0,-121.0,4.0,7.0,8.0
2,5015491,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,[11],[3],[1],None,None,...,None,None,None,None,"126,103,024,056,057,021,099,076,109,041,019,01...",6.0,5.0,7.0,7.0,7.0
4,3293483,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,"148,111,009,070,140,118,001,038,046,073,125,04...",4.0,4.0,7.0,8.0,7.0
502125,5758738,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,None,None,None,"069,000,080,045,052,051,123,016,086,135,043,03...",9.0,8.0,7.0,7.0,9.0

Retrieving fields for group 10 with 20 fields

,eid,p20605,p20606,p20607,p20608,p20609,p20610,p20611,p20612,p20613,...,p20615,p20616,p20617,p20618,p20619,p20620,p20621,p20622,p20623,p20624
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,5.0,3.0,7.0,-121.0,7.0,6.0,8.0,8.0,7.0,...,8.0,3.0,8.0,8.0,7.0,7.0,8.0,3.0,9.0,8.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,7.0,8.0,8.0,7.0,5.0,8.0,8.0,6.0,4.0,...,7.0,6.0,9.0,6.0,5.0,8.0,7.0,7.0,4.0,4.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,6.0,5.0,8.0,8.0,7.0,8.0,7.0,4.0,7.0,...,8.0,6.0,7.0,9.0,8.0,7.0,8.0,3.0,6.0,6.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,6.0,7.0,8.0,8.0,6.0,7.0,7.0,8.0,-818.0,...,8.0,5.0,8.0,7.0,8.0,7.0,8.0,7.0,7.0,6.0

Retrieving fields for group 11 with 20 fields

,eid,p20625,p20626,p20627,p20628,p20629,p20630,p20631,p20632,p20633,...,p20635,p20636,p20637,p20638,p20639,p20640,p20641,p20642,p20643,p20644
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,8.0,7.0,5.0,7.0,7.0,8.0,7.0,8.0,-121.0,...,6.0,8.0,8.0,8.0,2.0,8.0,-121.0,6.0,2.0,8.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,7.0,8.0,8.0,6.0,5.0,6.0,7.0,5.0,5.0,...,7.0,8.0,7.0,8.0,4.0,8.0,-121.0,8.0,1.0,1.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,8.0,6.0,5.0,9.0,5.0,6.0,8.0,5.0,3.0,...,8.0,7.0,3.0,8.0,7.0,8.0,-121.0,8.0,1.0,7.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,1.0,6.0,6.0,8.0,7.0,8.0,7.0,5.0,6.0,...,5.0,6.0,7.0,7.0,6.0,7.0,1.0,9.0,1.0,7.0

Retrieving fields for group 12 with 20 fields

,eid,p20645,p20646,p20647,p20648,p20649,p20650,p20651,p20652,p20653,...,p20655,p20656,p20657,p20658,p20659,p20660,p20661,p20662,p20663,p20664
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,6.0,6.0,8.0,6.0,8.0,7.0,8.0,8.0,3.0,...,7.0,8.0,5.0,7.0,5.0,7.0,7.0,7.0,7.0,7.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,2.0,5.0,6.0,3.0,6.0,8.0,8.0,1.0,8.0,...,8.0,7.0,8.0,8.0,2.0,7.0,8.0,8.0,6.0,7.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,7.0,7.0,8.0,5.0,6.0,8.0,8.0,8.0,7.0,...,8.0,3.0,9.0,8.0,6.0,8.0,7.0,8.0,7.0,8.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,4.0,7.0,7.0,6.0,6.0,7.0,9.0,5.0,5.0,...,7.0,8.0,3.0,8.0,6.0,8.0,7.0,8.0,7.0,7.0

Retrieving fields for group 13 with 20 fields

,eid,p20665,p20666,p20667,p20668,p20669,p20670,p20671,p20672,p20673,...,p20675,p20676,p20677,p20678,p20679,p20680,p20681,p20682,p20683,p20684
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,2.0,5.0,6.0,8.0,-121.0,5.0,7.0,8.0,-121.0,...,8.0,-121.0,7.0,7.0,8.0,7.0,5.0,5.0,7.0,3.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,6.0,5.0,7.0,8.0,5.0,9.0,1.0,6.0,8.0,...,8.0,8.0,3.0,2.0,7.0,7.0,5.0,8.0,8.0,5.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,3.0,4.0,5.0,5.0,4.0,5.0,5.0,8.0,8.0,...,8.0,6.0,8.0,3.0,8.0,8.0,3.0,6.0,8.0,7.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,6.0,7.0,7.0,7.0,2.0,7.0,7.0,7.0,8.0,...,7.0,7.0,2.0,6.0,8.0,7.0,6.0,3.0,8.0,6.0

Retrieving fields for group 14 with 20 fields

,eid,p20685,p20686,p20687,p20688,p20689,p20690,p20691,p20692,p20693,...,p20695,p20696,p20697,p20698,p20699,p20700,p20701,p20702,p20703,p20704
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,5.0,2.0,-121.0,7.0,7.0,7.0,8.0,8.0,8.0,...,8.0,7.0,6.0,7.0,4.0,3.0,-121.0,9.0,8.0,7.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,4.0,7.0,8.0,2.0,4.0,6.0,2.0,7.0,7.0,...,6.0,8.0,7.0,7.0,3.0,6.0,6.0,8.0,2.0,8.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,8.0,2.0,7.0,2.0,7.0,8.0,8.0,7.0,6.0,...,3.0,9.0,7.0,7.0,2.0,3.0,6.0,7.0,5.0,8.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,8.0,8.0,8.0,7.0,7.0,6.0,8.0,8.0,9.0,...,8.0,8.0,7.0,7.0,5.0,8.0,-121.0,6.0,5.0,6.0

Retrieving fields for group 15 with 20 fields

,eid,p20705,p20706,p20707,p20708,p20709,p20710,p20711,p20712,p20713,...,p20715,p20716,p20717,p20718,p20719,p20720,p20721,p20722,p20723,p20724
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,7.0,-121.0,8.0,7.0,8.0,2.0,8.0,8.0,7.0,...,-121.0,3.0,3.0,-121.0,7.0,3.0,-121.0,8.0,-121.0,7.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,8.0,8.0,7.0,8.0,7.0,8.0,8.0,6.0,4.0,...,8.0,4.0,3.0,8.0,8.0,7.0,8.0,8.0,8.0,8.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,8.0,5.0,5.0,8.0,7.0,2.0,8.0,5.0,8.0,...,7.0,4.0,7.0,8.0,8.0,8.0,6.0,9.0,6.0,7.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,7.0,9.0,8.0,7.0,7.0,5.0,8.0,6.0,7.0,...,8.0,7.0,1.0,8.0,7.0,6.0,9.0,1.0,7.0,6.0

Retrieving fields for group 16 with 20 fields

,eid,p20725,p20726,p20727,p20728,p20729,p20730,p20731,p20732,p20733,...,p20735,p20736,p20737,p20738,p20739,p20740,p20741,p20742,p20743,p20744
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,5.0,1.0,5.0,8.0,2.0,7.0,7.0,8.0,7.0,...,8.0,8.0,-121.0,5.0,8.0,1.0,8.0,3.0,4.0,5.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,6.0,1.0,3.0,3.0,6.0,7.0,2.0,4.0,6.0,...,7.0,4.0,7.0,6.0,6.0,3.0,8.0,2.0,6.0,8.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,6.0,-121.0,8.0,8.0,5.0,8.0,4.0,8.0,8.0,...,9.0,5.0,9.0,4.0,7.0,6.0,9.0,4.0,8.0,8.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,7.0,-818.0,6.0,6.0,8.0,8.0,3.0,7.0,8.0,...,9.0,7.0,6.0,6.0,8.0,7.0,7.0,8.0,5.0,7.0

Retrieving fields for group 17 with 20 fields

,eid,p20745,p20746,p20747,p20748,p20749,p20750,p20751,p21023,p21024,...,p21026,p21027,p21028,p21029,p21030,p21031,p21032,p21033,p21034,p21035
0,1451876,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,6.0,9.0,5.0,8.0,7.0,2019-06-28 22:00:22,10.0,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,8.0,6.0,8.0,8.0,5.0,2019-06-14 10:53:55,34.0,2017-05-04 09:33:33,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-500.0,-500.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2017-05-09 11:01:27,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-500.0,-500.0,0.0
502124,3834454,8.0,8.0,9.0,8.0,7.0,2019-06-05 13:15:31,8.0,2017-04-27 15:59:10,0.0,...,NaN,0.0,-501.0,-501.0,-500.0,-501.0,-500.0,-500.0,-501.0,0.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2017-05-15 16:14:01,0.0,...,NaN,0.0,-503.0,-501.0,-501.0,-501.0,-500.0,-502.0,-500.0,0.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,8.0,5.0,9.0,7.0,3.0,2019-06-22 14:09:00,27.0,2017-05-08 16:27:06,0.0,...,NaN,0.0,-500.0,-500.0,-501.0,-500.0,-501.0,-500.0,-500.0,0.0

Retrieving fields for group 18 with 20 fields

,eid,p21036,p21037,p21038,p21039,p21040,p21041,p21042,p21043,p21044,...,p21046,p21047,p21048,p21049,p21050,p21051,p21052,p21053,p21054,p21055
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,1.0,2.0,0.0,1.0,1.0,5.0,1.0,...,None,NaN,-600.0,-600.0,NaN,-600.0,-600.0,-600.0,-600.0,-600.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,0.0,NaN,1.0,0.0,1.0,7.0,1.0,...,None,NaN,-601.0,-601.0,-313.0,-600.0,-600.0,-600.0,-600.0,-600.0
502124,3834454,NaN,NaN,0.0,NaN,1.0,1.0,3.0,20.0,2.0,...,None,NaN,-600.0,-600.0,NaN,-601.0,-601.0,-600.0,-600.0,-600.0
502125,5758738,NaN,NaN,1.0,7.0,2.0,2.0,2.0,6.0,1.0,...,None,NaN,-602.0,-602.0,NaN,-601.0,-600.0,-600.0,-600.0,-601.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,0.0,NaN,1.0,0.0,2.0,1.0,1.0,...,None,NaN,-601.0,-601.0,NaN,-600.0,-600.0,-600.0,-600.0,-600.0

Retrieving fields for group 19 with 20 fields

,eid,p21056,p21057,p21058,p21059,p21060,p21061,p21062,p21063,p21064,...,p21066,p21067,p21068,p21069,p21070,p21071,p21072,p21073,p21074,p21075
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,-600.0,-600.0,-600.0,-600.0,-601.0,-601.0,0.0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,-600.0,-313.0,-600.0,-601.0,-600.0,-601.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,-600.0,-600.0,-600.0,-600.0,-600.0,-600.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,-601.0,-313.0,-602.0,-600.0,-602.0,-601.0,0.0,0.0,0.0,...,-121.0,-121.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,-600.0,-601.0,-600.0,-600.0,-600.0,-600.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 20 with 20 fields

,eid,p21076,p21100_i0,p21100_i1,p21100_i2,p21101_i0,p21101_i1,p21101_i2,p21102_i0,p21102_i1,...,p22128,p22129,p22130,p22131,p22132,p22133,p22134,p22135,p22136,p22137
0,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000150,NaN,0.0,NaN,NaN,0.0,NaN,NaN,2005.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,3.0,NaN,NaN,1.0,NaN,NaN,2005.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000196,NaN,3.0,NaN,NaN,1.0,NaN,NaN,2005.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,NaN,3.0,NaN,NaN,1.0,NaN,NaN,2005.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,0.0,NaN,NaN,0.0,NaN,NaN,2005.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,0.0,NaN,NaN,0.0,NaN,NaN,2005.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,1.0,NaN,NaN,0.0,NaN,NaN,2005.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502126,6021358,NaN,0.0,NaN,NaN,0.0,NaN,NaN,2005.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,2.0,NaN,NaN,0.0,NaN,NaN,2005.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Retrieving fields for group 21 with 20 fields

,eid,p22138,p22139,p22140,p22141,p22146,p22147,p22148,p22149,p22150,...,p22152,p22153,p22154,p22155,p22156,p22157,p22158,p22159,p22160,p22161
0,1000122,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,0.0,0.0,0.0,0.0,11.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,0.0,0.0,0.0,0.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 22 with 20 fields

,eid,p22166,p22167,p22168,p22169,p22170,p22171,p22172,p22173,p22174,p22175,p22176,p22177,p22178,p22179,p22180,p22181,p22200
0,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1948.0
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1952.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1948.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1965.0

Retrieving fields for group 23 with 20 fields

,eid,p22499,p22500,p22501,p22502,p22503,p22504,p22505,p22506,p22507,...,p22607_a30,p22607_a31,p22607_a32,p22607_a33,p22607_a34,p22607_a35,p22607_a36,p22607_a37,p22607_a38,p22607_a39
0,1000122,2.0,2015-07-13,1971.0,0.0,NaN,0.0,NaN,114.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000150,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,1.0,2015-07-21,1984.0,0.0,NaN,0.0,NaN,114.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000196,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,1.0,2015-07-17,1973.0,0.0,NaN,0.0,NaN,114.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,2.0,2015-11-24,1965.0,0.0,NaN,0.0,NaN,113.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,6021358,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,1.0,2015-07-30,1987.0,1.0,50.0,0.0,NaN,114.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 24 with 20 fields

,eid,p22608_a0,p22608_a1,p22608_a2,p22608_a3,p22608_a4,p22608_a5,p22608_a6,p22608_a7,p22608_a8,...,p22644_a10,p22644_a11,p22644_a12,p22644_a13,p22644_a14,p22644_a15,p22644_a16,p22644_a17,p22644_a18,p22644_a19
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,-141.0,-131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,0.0,-131.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 25 with 20 fields

,eid,p22645_a0,p22645_a1,p22645_a2,p22645_a3,p22645_a4,p22645_a5,p22645_a6,p22645_a7,p22645_a8,...,p22700_a8,p22700_a9,p22700_a10,p22700_a11,p22700_a12,p22700_a13,p22700_a14,p24003,p24004,p24005
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,18.40,26.34,12.19
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,20.33,33.01,15.23
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,24.04,33.98,16.91
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,24.76,44.07,16.16
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,14.77,25.51,11.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,29.60,47.46,17.00
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,24.93,42.95,14.83
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,26.63,47.76,15.96
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,23.08,36.26,17.03
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,40.59,85.01,18.33

Retrieving fields for group 26 with 20 fields

,eid,p24006,p24007,p24008,p24009,p24010,p24011,p24012,p24013,p24014,p24015,p24016,p24017,p24018,p24019,p24020,p24021,p24022,p24023,p24024
0,1451876,8.19,1.03,5.81,500.0,0.02,20668.0,0.00090,0.0,0.0,0.00,16.00,14.90,16.92,18.85,53.56,49.81,44.74,52.62,54.20
1,3046819,9.52,0.91,5.59,500.0,0.05,6785.0,0.00095,0.0,0.0,0.00,23.07,22.44,23.57,21.50,53.45,49.71,44.63,52.52,54.10
2,5015491,10.31,1.05,6.40,500.0,0.03,24237.0,0.00325,0.0,0.0,0.00,26.09,26.63,26.77,21.52,56.47,52.72,47.65,55.53,57.11
3,1598419,10.34,0.96,6.02,500.0,0.01,29685.0,0.00104,0.0,0.0,0.00,22.20,22.66,22.59,18.58,51.08,47.33,42.26,50.14,51.72
4,3293483,8.36,0.87,5.62,500.0,0.03,7928.0,0.00061,0.0,0.0,0.00,15.36,14.15,15.15,19.98,56.21,52.47,47.39,55.28,56.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,10.13,1.18,6.49,500.0,0.06,29363.0,0.00093,0.0,0.0,0.00,38.68,36.46,41.83,24.54,53.86,50.11,45.04,52.92,54.50
502124,3834454,10.07,1.06,5.86,500.0,0.06,16859.0,0.00460,0.0,0.0,0.00,28.77,29.10,28.97,20.92,54.61,50.86,45.79,53.67,55.25
502125,5758738,10.70,1.09,5.85,500.0,0.03,17103.0,0.00342,0.0,0.0,0.00,30.31,29.09,31.07,21.41,54.12,50.37,45.30,53.18,54.76
502126,5115563,9.75,1.00,6.50,500.0,0.04,42852.0,0.00194,0.0,0.0,0.00,26.99,24.64,26.88,24.13,56.08,52.33,47.26,55.14,56.72
502127,3943404,10.80,1.38,6.60,23483.0,0.02,23483.0,0.02000,4365416.0,1.0,189.89,28.99,28.17,29.96,22.51,67.95,64.20,59.13,67.01,68.59

Retrieving fields for group 27 with 20 fields

,eid,p24500_i0,p24500_i1,p24501_i0,p24501_i1,p24502_i0,p24502_i1,p24503_i0,p24503_i1,p24504_i0,p24504_i1,p24505_i0,p24505_i1,p24506_i0,p24506_i1,p24507_i0,p24507_i1,p24508_i0,p24508_i1
0,1451876,87.364,87.364,4.938,4.938,1.400,1.4,86.162,86.162,5.773,5.773,1.237,1.237,96.676,96.676,92.857,92.857,52.392,52.392
1,3046819,47.592,NaN,28.414,NaN,0.354,NaN,36.601,NaN,35.223,NaN,0.603,NaN,45.820,NaN,43.973,NaN,29.045,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.472,NaN,18.973,NaN,9.207,NaN
3,1598419,49.621,NaN,20.463,NaN,0.895,NaN,36.304,NaN,22.170,NaN,0.031,NaN,46.079,NaN,7.812,NaN,15.737,NaN
4,3293483,96.280,NaN,1.584,NaN,0.292,NaN,96.552,NaN,1.351,NaN,0.233,NaN,97.273,NaN,72.321,NaN,67.797,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,17.015,NaN,48.420,NaN,1.259,NaN,2.503,NaN,63.404,NaN,0.443,NaN,10.291,NaN,0.000,NaN,46.000,NaN
502124,3834454,24.403,NaN,29.638,NaN,1.859,NaN,5.201,NaN,39.785,NaN,0.596,NaN,16.461,NaN,0.000,NaN,63.822,NaN
502125,5758738,26.075,NaN,36.817,NaN,0.019,NaN,29.740,NaN,34.153,NaN,0.018,NaN,11.624,NaN,4.911,NaN,41.151,NaN
502126,5115563,36.678,NaN,28.377,NaN,0.457,NaN,26.749,NaN,37.016,NaN,0.640,NaN,25.876,NaN,18.527,NaN,2.095,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.196,NaN,0.000,NaN,4.723,NaN

Retrieving fields for group 28 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 29 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 30 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 31 with 20 fields

            eid
0       1451876
1       3046819
2       5015491
3       1598419
4       3293483
...         ...
502123  2998069
502124  3834454
502125  5758738
502126  5115563
502127  3943404

[502128 rows x 1 columns]

Retrieving fields for group 32 with 20 fields

            eid  p26000_i0  p26000_i1  p26000_i2  p26000_i3  p26000_i4
0       1451876        NaN        NaN        NaN        NaN        NaN
1       3046819     2490.0        NaN        NaN    3093.00        NaN
2       5015491        NaN        NaN        NaN        NaN        NaN
3       1598419     2463.5    3672.50     1907.0    1443.50    1385.00
4       3293483     2781.5    2828.00     2775.0    2647.88        NaN
...         ...        ...        ...        ...        ...        ...
502123  2998069        NaN        NaN        NaN        NaN        NaN
502124  3834454        NaN        NaN        NaN        NaN    2624.25
502125  5758738        NaN        NaN     4043.0        NaN        NaN
502126  5115563     2936.0        NaN     2143.0        NaN        NaN
502127  3943404        NaN    3882.75        NaN    4798.00        NaN

[502128 rows x 6 columns]

Retrieving fields for group 33 with 20 fields

,eid,p26001_i0,p26001_i1,p26001_i2,p26001_i3,p26001_i4,p26002_i0,p26002_i1,p26002_i2,p26002_i3,...,p26019_i0,p26019_i1,p26019_i2,p26019_i3,p26019_i4,p26020_i0,p26020_i1,p26020_i2,p26020_i3,p26020_i4
0,1000122,1850.0,1850.0,1825.0,2373.0,2226.5,7818.2,9775.56,8650.47,8467.43,...,16.1420,19.9036,17.9392,16.9915,22.32850,2.22530,1.87923,2.26044,1.09275,2.45405
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,2515.0,NaN,2040.0,1995.0,NaN,8730.04,NaN,6352.09,...,NaN,14.4545,NaN,11.0745,15.60180,NaN,1.57561,NaN,1.93839,2.51189
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,3036.5,2330.0,NaN,NaN,2357.0,10007.3,12471.00,NaN,NaN,...,16.3832,14.6924,NaN,NaN,21.37830,1.91883,3.97225,NaN,NaN,5.19171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,1285.0,1313.0,1843.0,NaN,NaN,7345.43,6032.14,...,NaN,NaN,13.4891,11.9056,6.77612,NaN,NaN,1.54532,1.80896,2.52751
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,1090.0,NaN,NaN,1705.0,NaN,7906.82,NaN,NaN,...,NaN,10.8913,NaN,NaN,7.55687,NaN,1.13010,NaN,NaN,0.82175

Retrieving fields for group 34 with 20 fields

,eid,p26021_i0,p26021_i1,p26021_i2,p26021_i3,p26021_i4,p26022_i0,p26022_i1,p26022_i2,p26022_i3,...,p26039_i0,p26039_i1,p26039_i2,p26039_i3,p26039_i4,p26040_i0,p26040_i1,p26040_i2,p26040_i3,p26040_i4
0,1000122,5.24107,5.51339,4.29699,10.86580,5.30635,410.332,406.913,439.909,322.931,...,1244.24,382.592,1026.08,5023.19,1951.1400,16.0000,5.0550,53.55,78.0113,84.4500
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,9.76157,NaN,2.36417,3.54988,NaN,227.831,NaN,304.267,...,NaN,6242.300,NaN,7121.27,6124.5900,NaN,79.3680,NaN,214.0720,135.0800
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,2.73540,6.63300,NaN,NaN,9.19930,249.986,398.457,NaN,NaN,...,6006.57,1311.630,NaN,NaN,562.5250,68.1525,84.7165,NaN,NaN,0.4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,10.69040,8.76850,5.73551,NaN,NaN,227.714,380.437,...,NaN,NaN,1321.36,4902.14,96.0508,NaN,NaN,17.20,156.9110,85.4625
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,1.61380,NaN,NaN,1.59465,NaN,168.708,NaN,NaN,...,NaN,597.210,NaN,NaN,810.2740,NaN,0.2400,NaN,NaN,24.8469

Retrieving fields for group 35 with 20 fields

,eid,p26041_i0,p26041_i1,p26041_i2,p26041_i3,p26041_i4,p26042_i0,p26042_i1,p26042_i2,p26042_i3,...,p26059_i0,p26059_i1,p26059_i2,p26059_i3,p26059_i4,p26060_i0,p26060_i1,p26060_i2,p26060_i3,p26060_i4
0,1000122,48.9365,43.9183,49.8966,77.5525,69.9565,3749.24,2196.23,3431.07,4334.40,...,28.0650,27.8370,36.1769,10.8959,34.5315,12.2779,14.98930,10.2837,13.12320,18.62420
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,40.2448,NaN,28.3559,34.6379,NaN,3269.92,NaN,1856.46,...,NaN,56.3458,NaN,50.5814,51.2285,NaN,10.79090,NaN,9.31857,11.39650
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,40.5565,52.9433,NaN,NaN,57.6159,4392.47,5242.34,NaN,NaN,...,40.7129,53.0359,NaN,NaN,42.6695,13.4974,15.81040,NaN,NaN,17.49280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,44.7033,39.5032,36.7250,NaN,NaN,3465.71,2464.70,...,NaN,NaN,24.7364,59.8780,20.5063,NaN,NaN,10.0325,13.88570,7.62601
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,26.8814,NaN,NaN,21.4033,NaN,2971.07,NaN,NaN,...,NaN,33.8601,NaN,NaN,26.1863,NaN,9.63296,NaN,NaN,5.50453

Retrieving fields for group 36 with 20 fields

,eid,p26061_i0,p26061_i1,p26061_i2,p26061_i3,p26061_i4,p26062_i0,p26062_i1,p26062_i2,p26062_i3,...,p26079_i0,p26079_i1,p26079_i2,p26079_i3,p26079_i4,p26080_i0,p26080_i1,p26080_i2,p26080_i3,p26080_i4
0,1000122,263.911,108.285,193.031,1305.37,537.508,0.0,0.0,0.0,0.0,...,0.0,0.0,44.0,0.0,0.0,0.00,0.0,0.0,0.0,12.5
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,1500.110,NaN,1457.56,1370.340,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,38.0,NaN,0.0,NaN,18.0,0.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,1633.380,755.817,NaN,NaN,729.505,0.0,0.0,NaN,NaN,...,44.0,0.0,NaN,NaN,27.5,6.25,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,540.581,1151.17,135.963,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,30.0,NaN,NaN,0.0,0.0,0.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,372.452,NaN,NaN,335.382,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,9.0,NaN,NaN,0.0

Retrieving fields for group 37 with 20 fields

,eid,p26081_i0,p26081_i1,p26081_i2,p26081_i3,p26081_i4,p26082_i0,p26082_i1,p26082_i2,p26082_i3,...,p26099_i0,p26099_i1,p26099_i2,p26099_i3,p26099_i4,p26100_i0,p26100_i1,p26100_i2,p26100_i3,p26100_i4
0,1000122,0.0,0.0,0.0,380.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,190.0,NaN,190.0,190.0,NaN,190.0,NaN,190.0,...,NaN,0.0,NaN,0.0,20.0,NaN,0.0,NaN,0.0,0.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,190.0,380.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,0.0,20.0,NaN,NaN,40.0,0.0,120.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,0.0,0.0,0.0,NaN,NaN,250.0,90.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,380.0,NaN,NaN,380.0,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0

Retrieving fields for group 38 with 20 fields

,eid,p26101_i0,p26101_i1,p26101_i2,p26101_i3,p26101_i4,p26102_i0,p26102_i1,p26102_i2,p26102_i3,...,p26119_i0,p26119_i1,p26119_i2,p26119_i3,p26119_i4,p26120_i0,p26120_i1,p26120_i2,p26120_i3,p26120_i4
0,1000122,0.0,51.25,67.5,67.5,140.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180.0,0.0
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,0.00,NaN,0.0,0.0,NaN,0.0,NaN,0.0,...,NaN,180.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,0.0,0.00,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,90.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,0.0,70.0,0.0,NaN,NaN,125.0,125.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,0.00,NaN,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,180.0,NaN,NaN,180.0,NaN,0.0,NaN,NaN,0.0

Retrieving fields for group 39 with 20 fields

,eid,p26121_i0,p26121_i1,p26121_i2,p26121_i3,p26121_i4,p26122_i0,p26122_i1,p26122_i2,p26122_i3,...,p26139_i0,p26139_i1,p26139_i2,p26139_i3,p26139_i4,p26140_i0,p26140_i1,p26140_i2,p26140_i3,p26140_i4
0,1000122,130.0,65.0,65.0,0.0,260.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,0.0,NaN,130.0,130.0,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,0.0,0.0,130.0,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,130.0,NaN,NaN,0.0,NaN,23.0,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0

Retrieving fields for group 40 with 20 fields

,eid,p26141_i0,p26141_i1,p26141_i2,p26141_i3,p26141_i4,p26142_i0,p26142_i1,p26142_i2,p26142_i3,...,p26155_i0,p26155_i1,p26155_i2,p26155_i3,p26155_i4,p28600,p28601,p28602,p28603,p28604
0,1000122,1140.0,1140.0,1140.0,950.0,1140.0,0.0,0.0,0.0,0.0,...,0.328488,0.470799,0.175251,0.554040,1.027750,0.0,NaN,NaN,0.0,NaN
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,190.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,...,NaN,0.507455,NaN,0.489455,1.217950,0.0,NaN,NaN,0.0,NaN
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4,1000221,950.0,380.0,NaN,NaN,570.0,0.0,0.0,NaN,NaN,...,0.902406,2.391920,NaN,NaN,1.523310,0.0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,190.0,...,NaN,NaN,0.532182,0.240701,0.521850,0.0,NaN,NaN,0.0,NaN
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,0.0,NaN,NaN,570.0,NaN,0.0,NaN,NaN,...,NaN,1.335260,NaN,NaN,0.843853,0.0,NaN,NaN,0.0,NaN

Retrieving fields for group 41 with 20 fields

,eid,p28605,p28606,p28607,p28608,p28609,p28610,p28611,p28612,p28613,...,p28615,p28616,p28617,p28618,p28619,p28620,p28621,p28622,p28623,p28624
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
502124,3834454,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,1.0,0.0,0.0,0.0
502125,5758738,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,1.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,1.0,3.0,0.0,1.0,3.0,0.0,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0

Retrieving fields for group 42 with 20 fields

,eid,p28625,p28626,p28627,p28628,p28629,p28630,p28631,p28632,p28633,...,p28635,p28636,p28637,p28638,p28639,p28640,p28641,p28642,p28643,p28644
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
502124,3834454,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
502125,5758738,3.0,0.0,1.0,3.0,1.0,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,1.0,3.0,1.0,0.0,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,1.0,3.0,1.0,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN

Retrieving fields for group 43 with 20 fields

,eid,p28645,p28646,p28647,p28648,p28649,p28650,p28651,p28652,p28653,...,p28655,p28656,p28657,p28658,p28659,p28660,p28661,p28662,p28663,p28664
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
502124,3834454,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
502125,5758738,0.0,NaN,NaN,0.0,NaN,NaN,1.0,3.0,1.0,...,3.0,1.0,1.0,3.0,1.0,-1.0,NaN,NaN,0.0,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,NaN,NaN,1.0,3.0,0.0,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,1.0,3.0

Retrieving fields for group 44 with 20 fields

,eid,p28665,p28666,p28667,p28668,p28669,p28670,p28671,p28672,p28673,...,p28675,p28676,p28677,p28678,p28679,p28680,p28681,p28682,p28683,p28684
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
502124,3834454,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
502125,5758738,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,1.0,3.0,1.0,-1.0,NaN,NaN,1.0,3.0,1.0,0.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0

Retrieving fields for group 45 with 20 fields

,eid,p28685,p28686,p28687,p28688,p28689,p28690,p28691,p28692,p28693,...,p28695,p28696,p28697,p28698,p28699,p28700,p28701,p28702,p28703,p28704
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,1.0,...,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
502124,3834454,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
502125,5758738,NaN,NaN,1.0,3.0,0.0,1.0,3.0,0.0,1.0,...,1.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,1.0,3.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN

Retrieving fields for group 46 with 20 fields

,eid,p28705,p28706,p28707,p28708,p28709,p28710,p28711,p28712,p28713,...,p28715,p28716,p28717,p28718,p28719,p28720,p28721,p28722,p28723,p28724
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
502124,3834454,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
502125,5758738,1.0,3.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,1.0,3.0,0.0,0.0,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,1.0,3.0,1.0,1.0,3.0

Retrieving fields for group 47 with 20 fields

,eid,p28725,p28726,p28727,p28728,p28729,p28730,p28731,p28732,p28733,...,p28735,p28736,p28737,p28738,p28739,p28740,p28741,p28742,p28743,p28744
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502124,3834454,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502125,5758738,NaN,1.0,3.0,0.0,1.0,3.0,1.0,1.0,3.0,...,1.0,1.0,1.0,1.0,4.0,3.0,0.0,2.0,1.0,0.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

Retrieving fields for group 48 with 20 fields

,eid,p28745,p28746,p28747,p28748,p28749,p28750,p28751,p28752,p28753,...,p28755,p28756,p29000,p29001,p29002,p29003,p29004,p29005,p29006,p29007
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,None,2022-07-17,None,None,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,None,2022-07-12,None,None,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0,[0],...,2022-08-15,2022-07-18,"[-8, -7, 1]",[1],0.0,0.0,0.0,0.0,0.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,...,2022-07-21,2022-07-19,"[-8, -7, -6]",[1],0.0,0.0,0.0,0.0,0.0,0.0
502124,3834454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[0],...,2022-07-29,2022-07-12,"[-8, -7, -6]",[1],0.0,0.0,1.0,0.0,0.0,0.0
502125,5758738,4.0,1.0,2.0,2.0,1.0,0.0,2.0,1.0,"[1, 2, 4]",...,2022-07-13,2022-07-12,None,None,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,0.0,1.0,0.0,2.0,0.0,-4.0,[0],...,2022-07-23,2022-07-20,"[-8, -7, -6]",[0],1.0,1.0,0.0,1.0,0.0,0.0

Retrieving fields for group 49 with 20 fields

,eid,p29008,p29009,p29010,p29011,p29012,p29013,p29014,p29015,p29016,...,p29018,p29019,p29020,p29021,p29022,p29023,p29024,p29025,p29026,p29027
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 50 with 20 fields

,eid,p29028,p29029,p29030,p29031,p29032,p29033,p29034,p29035,p29036,...,p29038,p29039,p29040,p29041,p29042,p29043,p29044,p29045,p29046,p29047
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

Retrieving fields for group 51 with 20 fields

,eid,p29048,p29049,p29050,p29051,p29052,p29053,p29054,p29055,p29056,...,p29058,p29059,p29060,p29061,p29062,p29063,p29064,p29065,p29066,p29067
0,1451876,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
1,3046819,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2,5015491,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
3,1598419,NaN,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[0],NaN,NaN
4,3293483,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[0],NaN,NaN
502124,3834454,NaN,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 7]",NaN,NaN
502125,5758738,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
502126,5115563,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
502127,3943404,NaN,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,[0],NaN,NaN

Retrieving fields for group 52 with 20 fields

,eid,p29068,p29069,p29070,p29071,p29072,p29073,p29074,p29075,p29076,...,p29078,p29079,p29080,p29081,p29082,p29083,p29084,p29085,p29086,p29087
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,0.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Retrieving fields for group 53 with 20 fields

,eid,p29088,p29089,p29090,p29091,p29092,p29093,p29094,p29095,p29096,...,p29098,p29099,p29100,p29101,p29102,p29103,p29104,p29105,p29106,p29107
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,1.0,0.0,0.0,2.0,4.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,1.0,19.0,20.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
502124,3834454,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,3.0,24.0,32.0,0.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

Retrieving fields for group 54 with 20 fields

,eid,p29108,p29109,p29110,p29111,p29112,p29113,p29114,p29115,p29116,...,p29118,p29119,p29120,p29121,p29122,p29123,p29124,p29125,p29126,p29127
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,0.0,NaN,0.0,NaN,NaN,NaN,None,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,0.0,0.0,NaN,0.0,NaN,NaN,NaN,None,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.0,0.0,NaN,0.0,NaN,NaN,NaN,None,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,57.0,26.0,26.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,NaN,0.0,NaN,NaN,NaN,None,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 55 with 20 fields

,eid,p29128,p29129,p29130,p29131,p29132,p29133,p29134,p29135,p29136,...,p29138,p29139,p29140,p29141,p29142,p29143,p29144,p29145,p29146,p29147
0,1451876,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,None,NaN,0.0,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,3293483,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,None,NaN,0.0,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,0.0,NaN,NaN,NaN
502124,3834454,0.0,0.0,[0],NaN,0.0,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,0.0,NaN,NaN,NaN
502125,5758738,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,None,NaN,0.0,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,0.0,NaN,NaN,NaN

Retrieving fields for group 56 with 20 fields

,eid,p29148,p29149,p29150,p29151,p29152,p29153,p29154,p29155,p29156,...,p29158,p29159,p29160,p29161,p29162,p29163,p29164,p29165,p29166,p29167
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,1598419,NaN,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,...,NaN,None,NaN,NaN,2.0,5.0,5.0,5.0,5.0,[2]
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,0.0,0.0,0.0,0.0,1.0,0.0,70.0,-1.0,...,NaN,None,NaN,NaN,3.0,5.0,1.0,4.0,5.0,[0]
502124,3834454,NaN,0.0,0.0,0.0,0.0,0.0,0.0,86.0,1.0,...,4.0,None,NaN,0.0,2.0,1.0,0.0,3.0,5.0,[0]
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
502127,3943404,NaN,1.0,0.0,0.0,1.0,1.0,1.0,80.0,3.0,...,1.0,2022-08-12,1.0,1.0,1.0,4.0,1.0,3.0,5.0,[1]

Retrieving fields for group 57 with 20 fields

,eid,p29168,p29169,p29170,p29171,p29172,p29173,p29174,p29175,p29176,...,p29178,p29179,p29180,p29181,p29182,p29183,p29184,p29185,p29186,p29187
0,1451876,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-11-01,None,None,None,None
1,3046819,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-10-25,None,None,None,None
2,5015491,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
3,1598419,[0],[3],2022.0,2.0,0.0,0.0,0.0,3.0,1.0,...,2.0,3.0,1.0,2.0,3.0,2022-11-02,2022-11-17,2022-11-17,2022-11-17,2022-11-17
4,3293483,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,[0],[3],1.0,2.0,0.0,1.0,0.0,3.0,2.0,...,1.0,3.0,1.0,3.0,3.0,2022-11-03,2022-11-04,2022-11-04,2022-11-04,2022-11-04
502124,3834454,[0],[1],NaN,2.0,0.0,0.0,0.0,2.0,1.0,...,3.0,2.0,2.0,3.0,2.0,2022-10-25,2022-10-26,2022-10-26,2022-10-26,2022-10-26
502125,5758738,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-10-30,None,None,None,None
502126,5115563,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
502127,3943404,[1],[3],1.0,2.0,0.0,2.0,2.0,3.0,2.0,...,2.0,3.0,1.0,3.0,2.0,2022-11-06,2023-01-27,2023-01-27,2023-01-27,2023-01-27

Retrieving fields for group 58 with 20 fields

,eid,p29188,p29189,p29190,p29191,p29192,p29193,p29194,p29195,p29196,...,p29198,p29199,p29200,p29201,p29202,p29203,p29204,p29205,p29206,p29207
0,1451876,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,3046819,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,5015491,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1598419,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,...,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17,2022-11-17
4,3293483,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,...,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04,2022-11-04
502124,3834454,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,...,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26,2022-10-26
502125,5758738,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502126,5115563,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502127,3943404,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,...,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27,2023-01-27

Retrieving fields for group 59 with 20 fields

,eid,p29208,p29209,p40030_i0,p40031_i0,p40032_i0,p40033_i0,p40034_i0,p40035_i0,p40036_i0,...,p40038_i0,p40039_i0,p40040_i0,p40041_i0,p40042_i0,p40043_i0,p40044_i0,p40045_i0,p40046_i0,p40047_i0
0,1000122,2022-11-03,2022-11-03,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
1,1000150,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
2,1000163,2022-10-29,2022-10-29,"1,1,1,1,1,1,0.87,0.23,0.21,0.23,0.12,0.04,0.04...","0,0,0,0,0,0,0.06,0.43,0.45,0.65,0.71,0.83,0.84...","0,0,0,0,0,0,0.07,0.34,0.22,0.11,0.16,0.13,0.12...","0,0,0,0,0,0,0,0.01,0.12,0.02,0,0,0,0,0.02,0.1,...","1,1,1,1,1,1,0.84,0.09,0.01,0,0.07,0.06,0.03,0....","0,0,0,0,0,0,0.06,0.47,0.55,0.87,0.81,0.92,0.96...","0,0,0,0,0,0,0.1,0.43,0.28,0.11,0.12,0.03,0.02,...",...,"1,1,1,1,1,1,0.95,0.57,0.71,0.8,0.25,0,0.07,0.1...","0,0,0,0,0,0,0.05,0.33,0.2,0.1,0.48,0.61,0.54,0...","0,0,0,0,0,0,0,0.11,0.09,0.1,0.27,0.39,0.39,0.5...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.04,0.31,0.21,0,0...","0.41,0.38,0.42,0.45,0.44,0.53,0.55","0.51,0.56,0.46,0.42,0.43,0.27,0.27","0.07,0.06,0.11,0.08,0.12,0.16,0.17","0.01,0,0.02,0.05,0.01,0.03,0.01",0.45384,0.41656
3,1000196,2022-11-10,2022-11-10,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
4,1000221,2022-11-13,2022-11-13,"0.94,0.95,0.98,0.98,0.98,1,0.69,0.28,0.02,0,0,...","0.02,0.03,0,0,0,0,0.08,0.14,0.44,0.41,0.32,0.7...","0.04,0.02,0.02,0.02,0.02,0,0.23,0.58,0.54,0.49...","0,0,0,0,0,0,0,0,0,0.09,0.19,0.08,0.11,0.07,0.2...","0.94,0.93,1,0.97,0.97,1,0.57,0.07,0,0,0,0,0.02...","0.01,0.05,0,0,0,0,0.11,0.19,0.39,0.35,0.29,0.6...","0.05,0.02,0,0.03,0.03,0,0.32,0.74,0.61,0.52,0....",...,"0.94,0.97,0.93,1,1,1,1,0.82,0.06,0,0,0,0,0,0,0...","0.06,0,0,0,0,0,0,0,0.55,0.57,0.41,0.91,0.66,0....","0,0.03,0.07,0,0,0,0,0.18,0.39,0.42,0.59,0.09,0...","0,0,0,0,0,0,0,0,0,0,0,0,0.07,0,0,0,0,0,0,0.18,...","0.32,0.31,0.32,0.32,0.33,0.35,0.39","0.28,0.23,0.34,0.45,0.33,0.43,0.38","0.33,0.38,0.28,0.22,0.25,0.22,0.21","0.07,0.08,0.06,0.01,0.09,0.01,0.02",0.33535,0.34820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
502124,6021216,2022-11-05,2022-11-05,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
502125,6021303,None,None,"0.18,0.17,0.59,0.65,0.85,1,1,1,1,0.61,0.16,0.3...","0.73,0.77,0.41,0.35,0.15,0,0,0,0,0.15,0.42,0.6...","0.09,0.07,0,0,0,0,0,0,0,0.23,0.42,0.07,0.04,0....","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.17,0,0,0,0.06,0,...","0.18,0.17,0.59,0.65,0.85,1,1,1,1,0.61,0.43,1,1...","0.73,0.77,0.41,0.35,0.15,0,0,0,0,0.15,0.57,0,0...","0.09,0.07,0,0,0,0,0,0,0,0.23,0,0,0,0,0.38,0.08...",...,"0.18,0.17,0.59,0.65,0.85,1,1,1,1,0.61,0.02,0,0...","0.73,0.77,0.41,0.35,0.15,0,0,0,0,0.15,0.35,0.9...","0.09,0.07,0,0,0,0,0,0,0,0.23,0.63,0.1,0.06,0.5...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.12,0,0,0,0.09,0,...",None,None,None,None,0.32364,0.49506
502126,6021358,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
502127,6021392,None,None,"0.98,0.98,1,1,1,0.95,0.29,0.29,0.23,0,0,0,0,0,...","0.02,0,0,0,0,0.01,0.04,0.37,0.27,0.26,0.42,0.1...","0,0.02,0,0,0,0.05,0.67,0.35,0.5,0.74,0.54,0.74...","0,0,0,0,0,0,0,0,0,0,0.04,0.07,0.04,0.01,0,0.01...","0.97,0.97,1,1,1,0.93,0,0,0,0,0,0,0,0,0,0,0,0,0...","0.03,0.01,0,0,0,0.01,0.06,0.52,0.35,0.33,0.5,0...","0,0.03,0,0,0,0.07,0.94,0.48,0.66,0.67,0.47,0.7...",...,"1,1,1,1,1,1,1,1,0.8,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0.07,0.08,0.2,0.07,0.05,0.62,0...","0,0,0,0,0,0,0,0,0.12,0.92,0.71,0.77,0.84,0.35,...","0,0,0,0,0,0,0,0,0,0,0.09,0.16,0.11,0.03,0,0,0....","0.31,0.3,0.31,0.3,0.27,0.4,0.44","0.21,0.2,0.35,0.34,0.32,0.18,0.22","0.48,0.5,0.34,0.35,0.41,0.41,0.28","0,0,0,0.02,0,0.01,0.06",0.33307,0.26024

Retrieving fields for group 60 with 20 fields

,eid,p40048_i0,p40049_i0,p90001_i0,p90001_i1,p90001_i2,p90001_i3,p90001_i4,p90002,p90003,...,p90015,p90016,p90017,p90018,p90019,p90020,p90021,p90022,p90023,p90024
0,1451876,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.27562,0.02322,3834454_90001_0_0.cwa,None,3834454_90001_2_0.cwa,3834454_90001_3_0.cwa,3834454_90001_4_0.cwa,NaN,2014-09-20 10:00:00,...,1.0,1.0,1.0,0.0,30.64,34.17,47.54,38.43,54.17,24.53
502125,5758738,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,None,None,None,None,None,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.30198,0.02297,3943404_90001_0_0.cwa,None,None,None,None,NaN,2014-06-20 10:00:00,...,1.0,1.0,1.0,0.0,38.55,38.02,44.61,31.65,30.97,41.76

Retrieving fields for group 61 with 20 fields

,eid,p90025,p90026,p90027,p90028,p90029,p90030,p90031,p90032,p90033,...,p90035,p90036,p90037,p90038,p90039,p90040,p90041,p90042,p90043,p90044
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,52.06,5.0,9.10,3.38,2.93,2.39,2.81,2.21,3.56,...,35.87,47.22,68.23,60.46,81.89,70.82,106.38,84.29,60.60,51.65
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,34.37,4.0,14.93,2.75,3.67,3.39,4.63,4.80,2.96,...,115.30,63.60,63.40,60.56,68.80,32.87,57.78,61.16,57.87,44.41

Retrieving fields for group 62 with 20 fields

,eid,p90045,p90046,p90047,p90048,p90049,p90050,p90051,p90052,p90053,...,p90055,p90056,p90057,p90058,p90059,p90060,p90061,p90062,p90063,p90064
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,118.67,44.48,20.86,6.83,8.06,6.01,7.00,0.00,24.0,...,24.0,24.0,24.0,24.0,24.0,7.0,7.00,7.0,7.0,7.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,24.78,56.93,47.64,31.35,16.65,37.93,6.95,0.05,24.0,...,24.0,24.0,24.0,24.0,24.0,6.2,6.65,7.0,7.0,7.0

Retrieving fields for group 63 with 20 fields

,eid,p90065,p90066,p90067,p90068,p90069,p90070,p90071,p90072,p90073,...,p90075,p90076,p90077,p90078,p90079,p90080,p90081,p90082,p90083,p90084
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,24.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,24.0

Retrieving fields for group 64 with 20 fields

,eid,p90085,p90086,p90087,p90088,p90089,p90090,p90091,p90092,p90093,...,p90095,p90096,p90097,p90098,p90099,p90100,p90101,p90102,p90103,p90104
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,1440.0,0.0,40.22,112.06,4.80,0.0,3317.12,0.188,0.306,...,0.460,0.508,0.543,0.566,0.582,0.594,0.604,0.612,0.620,0.627
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,1440.0,1.0,37.35,68.90,7.51,0.0,1670.21,0.160,0.244,...,0.377,0.424,0.459,0.489,0.509,0.526,0.539,0.549,0.559,0.567

Retrieving fields for group 65 with 20 fields

,eid,p90105,p90106,p90107,p90108,p90109,p90110,p90111,p90112,p90113,...,p90115,p90116,p90117,p90118,p90119,p90120,p90121,p90122,p90123,p90124
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.633,0.639,0.645,0.651,0.657,0.662,0.668,0.693,0.715,...,0.753,0.770,0.785,0.80,0.814,0.826,0.837,0.848,0.858,0.867
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.575,0.582,0.589,0.596,0.603,0.609,0.615,0.644,0.671,...,0.716,0.735,0.754,0.77,0.786,0.801,0.815,0.828,0.841,0.854

Retrieving fields for group 66 with 20 fields

,eid,p90125,p90126,p90127,p90128,p90129,p90130,p90131,p90132,p90133,...,p90135,p90136,p90137,p90138,p90139,p90140,p90141,p90142,p90143,p90144
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.875,0.883,0.890,0.921,0.941,0.955,0.964,0.971,0.975,...,0.982,0.984,0.985,0.987,0.988,0.989,0.990,0.990,0.991,0.993
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.866,0.876,0.886,0.927,0.951,0.965,0.975,0.981,0.985,...,0.990,0.991,0.993,0.994,0.994,0.995,0.996,0.996,0.997,0.998

Retrieving fields for group 67 with 20 fields

,eid,p90145,p90146,p90147,p90148,p90149,p90150,p90151,p90152,p90153,...,p90155,p90156,p90157,p90158,p90159,p90160,p90161,p90162,p90163,p90164
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.994,0.996,0.997,0.997,0.998,0.999,0.999,0.999,0.999,...,1.0,1.0,1.0,1.0,20.02,2.83,0.007,-0.028,0.022,0.983
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.999,0.999,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,1.0,1.0,1.0,1.0,88.38,3.26,0.039,0.034,0.115,1.003

Retrieving fields for group 68 with 20 fields

,eid,p90165,p90166,p90167,p90168,p90169,p90170,p90171,p90172,p90173,...,p90175,p90176,p90177,p90179,p90180,p90181,p90182,p90183,p90184,p90185
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.989,1.015,0.001,-0.001,-0.009,21.43,27268.0,-1.02,0.99,...,1.03,-0.92,0.97,16384.0,0.0,0.0,59.0,1499.0,42.0,1564.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.988,1.003,0.002,-0.002,0.001,22.72,20326.0,-1.02,0.96,...,0.98,-1.11,0.89,2885.0,0.0,0.0,496.0,787.0,21.0,796.0

Retrieving fields for group 69 with 20 fields

,eid,p90186,p90187,p90188,p90189,p90190,p90191,p90192,p90193,p90194,...,p100009_i0,p100009_i1,p100009_i2,p100009_i3,p100009_i4,p100010_i0,p100010_i1,p100010_i2,p100010_i3,p100010_i4
0,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.43,26.41,19.26,18.35,33.34,15.0,15.0,15.0,15.0,15.0
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,4.0,59418902.0,100.2,0.3,35.8,101.8,21.2,1.4,9.4,...,NaN,20.43,NaN,16.78,17.13,NaN,10.0,NaN,10.0,10.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,17.0,59239079.0,97.9,0.5,6.0,99.0,20.2,2.1,8.2,...,20.02,16.82,NaN,NaN,21.81,10.0,10.0,NaN,NaN,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,2.0,20012880.0,97.0,0.6,57.0,98.0,19.8,2.8,5.5,...,NaN,NaN,15.30,20.69,1.69,NaN,NaN,10.0,10.0,10.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,7.0,58433879.0,96.6,0.3,88.4,97.6,21.4,1.4,10.0,...,NaN,12.62,NaN,NaN,10.61,NaN,10.0,NaN,NaN,10.0

Retrieving fields for group 70 with 20 fields

,eid,p100011_i0,p100011_i1,p100011_i2,p100011_i3,p100011_i4,p100012_i0,p100012_i1,p100012_i2,p100012_i3,...,p100170_i0,p100170_i1,p100170_i2,p100170_i3,p100170_i4,p100180_i0,p100180_i1,p100180_i2,p100180_i3,p100180_i4
0,1000122,19.21,22.28,22.08,18.82,28.19,2.23,2.54,2.85,1.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,15.63,NaN,11.81,15.26,NaN,2.07,NaN,2.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,15.82,16.19,NaN,NaN,24.22,2.34,2.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,17.47,12.06,7.52,NaN,NaN,2.14,2.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,10.94,NaN,NaN,8.83,NaN,1.54,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 71 with 20 fields

,eid,p100190_i0,p100190_i1,p100190_i2,p100190_i3,p100190_i4,p100200_i0,p100200_i1,p100200_i2,p100200_i3,...,p100380_i0,p100380_i1,p100380_i2,p100380_i3,p100380_i4,p100390_i0,p100390_i1,p100390_i2,p100390_i3,p100390_i4
0,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0
3,1000196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,NaN,NaN,555.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,0.0,1.0,0.0
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0

Retrieving fields for group 72 with 20 fields

,eid,p100400_i0,p100400_i1,p100400_i2,p100400_i3,p100400_i4,p100410_i0,p100410_i1,p100410_i2,p100410_i3,...,p100630_i0,p100630_i1,p100630_i2,p100630_i3,p100630_i4,p100670_i0,p100670_i1,p100670_i2,p100670_i3,p100670_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,2.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,3.0,3.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,5.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
502126,5115563,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,600.0,NaN,600.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 73 with 20 fields

,eid,p100710_i0,p100710_i1,p100710_i2,p100710_i3,p100710_i4,p100720_i0,p100720_i1,p100720_i2,p100720_i3,...,p100940_i0,p100940_i1,p100940_i2,p100940_i3,p100940_i4,p100950_i0,p100950_i1,p100950_i2,p100950_i3,p100950_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.0,...,1.0,0.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,1.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0
502125,5758738,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,0.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN
502127,3943404,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 74 with 20 fields

,eid,p101020_i0,p101020_i1,p101020_i2,p101020_i3,p101020_i4,p101090_i0,p101090_i1,p101090_i2,p101090_i3,...,p101990_i0,p101990_i1,p101990_i2,p101990_i3,p101990_i4,p102000_i0,p102000_i1,p102000_i2,p102000_i3,p102000_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,555.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 75 with 20 fields

,eid,p102010_i0,p102010_i1,p102010_i2,p102010_i3,p102010_i4,p102020_i0,p102020_i1,p102020_i2,p102020_i3,...,p102220_i0,p102220_i1,p102220_i2,p102220_i3,p102220_i4,p102230_i0,p102230_i1,p102230_i2,p102230_i3,p102230_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 76 with 20 fields

,eid,p102250_i0,p102250_i1,p102250_i2,p102250_i3,p102250_i4,p102260_i0,p102260_i1,p102260_i2,p102260_i3,...,p102440_i0,p102440_i1,p102440_i2,p102440_i3,p102440_i4,p102450_i0,p102450_i1,p102450_i2,p102450_i3,p102450_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 77 with 20 fields

,eid,p102460_i0,p102460_i1,p102460_i2,p102460_i3,p102460_i4,p102470_i0,p102470_i1,p102470_i2,p102470_i3,...,p102800_i0,p102800_i1,p102800_i2,p102800_i3,p102800_i4,p102810_i0,p102810_i1,p102810_i2,p102810_i3,p102810_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,1.0,NaN,555.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 78 with 20 fields

,eid,p102820_i0,p102820_i1,p102820_i2,p102820_i3,p102820_i4,p102830_i0,p102830_i1,p102830_i2,p102830_i3,...,p103020_i0,p103020_i1,p103020_i2,p103020_i3,p103020_i4,p103030_i0,p103030_i1,p103030_i2,p103030_i3,p103030_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 79 with 20 fields

,eid,p103040_i0,p103040_i1,p103040_i2,p103040_i3,p103040_i4,p103050_i0,p103050_i1,p103050_i2,p103050_i3,...,p103230_i0,p103230_i1,p103230_i2,p103230_i3,p103230_i4,p103250_i0,p103250_i1,p103250_i2,p103250_i3,p103250_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
502127,3943404,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

Retrieving fields for group 80 with 20 fields

,eid,p103260_i0,p103260_i1,p103260_i2,p103260_i3,p103260_i4,p103270_i0,p103270_i1,p103270_i2,p103270_i3,...,p104110_i0,p104110_i1,p104110_i2,p104110_i3,p104110_i4,p104120_i0,p104120_i1,p104120_i2,p104120_i3,p104120_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

Retrieving fields for group 81 with 20 fields

,eid,p104130_i0,p104130_i1,p104130_i2,p104130_i3,p104130_i4,p104140_i0,p104140_i1,p104140_i2,p104140_i3,...,p104310_i0,p104310_i1,p104310_i2,p104310_i3,p104310_i4,p104320_i0,p104320_i1,p104320_i2,p104320_i3,p104320_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,555.0,555.0,NaN,...,NaN,NaN,NaN,NaN,NaN,555.0,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 82 with 20 fields

,eid,p104330_i0,p104330_i1,p104330_i2,p104330_i3,p104330_i4,p104340_i0,p104340_i1,p104340_i2,p104340_i3,...,p104520_i0,p104520_i1,p104520_i2,p104520_i3,p104520_i4,p104530_i0,p104530_i1,p104530_i2,p104530_i3,p104530_i4
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,555.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,444.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 83 with 20 fields

,eid,p104540_i0,p104540_i1,p104540_i2,p104540_i3,p104540_i4,p104550_i0,p104550_i1,p104550_i2,p104550_i3,...,p110001_i4,p110002_i1,p110002_i2,p110002_i3,p110002_i4,p110005,p110006,p120000,p120001,p120002
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2011-04-09,2011-08-18,2011-12-04,2012-06-07,NaN,None,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2011-03-27,2011-08-26,2011-11-21,2012-05-25,NaN,None,0.0,0.0,0.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,NaN,None,NaN,NaN,NaN
3,1598419,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,...,2.0,2011-04-02,2011-08-11,2011-11-27,2012-05-31,NaN,None,0.0,0.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,2011-03-23,2011-07-31,2011-11-17,2012-05-21,0.0,2013-07-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2011-03-10,2011-07-25,2011-11-11,2012-05-15,NaN,None,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2011-03-07,2011-07-22,2011-11-08,2012-05-12,2.0,2014-09-05,0.0,0.0,0.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2011-03-30,2011-08-29,2011-11-24,2012-05-28,NaN,None,-121.0,0.0,0.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2011-03-05,2011-07-20,2011-11-06,2012-05-10,NaN,None,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2011-03-13,2011-07-28,2011-11-14,2012-05-18,2.0,2014-05-30,0.0,0.0,0.0

Retrieving fields for group 84 with 20 fields

,eid,p120003,p120004,p120005,p120006,p120007,p120008,p120009,p120010,p120011,...,p120013,p120014,p120015,p120016,p120017,p120018,p120019,p120020,p120021,p120022
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
502125,5758738,0.0,1.0,0.0,NaN,0.0,1.0,-121.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,-513.0,1.0,6.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN

Retrieving fields for group 85 with 20 fields

,eid,p120023,p120024,p120025,p120026,p120027,p120028,p120029,p120030,p120031,...,p120033,p120034,p120035,p120036,p120037,p120038,p120039,p120040,p120041,p120042
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,"[10, 19]",-521.0,-522.0,-521.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,None,-522.0,-522.0,-522.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,None,-521.0,-521.0,-521.0
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,"[9, 10, 11, 12, 19]",-523.0,-523.0,-522.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,[19],-521.0,-521.0,-521.0

Retrieving fields for group 86 with 20 fields

,eid,p120043,p120044,p120045,p120046,p120047,p120048,p120049,p120050,p120051,...,p120053,p120054,p120055,p120056,p120057,p120058,p120059,p120060,p120061,p120062
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 87 with 20 fields

,eid,p120063,p120064,p120065,p120066,p120067,p120068,p120069,p120070,p120071,...,p120073,p120074,p120075,p120076,p120077,p120078,p120079,p120080,p120081,p120082
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Retrieving fields for group 88 with 20 fields

,eid,p120083,p120084,p120085,p120086,p120087,p120088,p120089,p120090,p120091,...,p120093,p120094,p120095,p120096,p120097,p120098,p120099,p120100,p120101,p120102
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-521.0,-521.0,-521.0,-522.0,-521.0
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-521.0,-521.0,-521.0,-521.0,-521.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-521.0,-521.0,-521.0,-521.0,-522.0
502125,5758738,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-524.0,-524.0,-524.0,-525.0,-523.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-521.0,-522.0,-522.0,-522.0,-521.0

Retrieving fields for group 89 with 20 fields

,eid,p120103,p120104,p120105,p120106,p120107,p120108,p120109,p120110,p120111,...,p120113,p120114,p120115,p120116,p120117,p120118,p120119,p120120,p120121,p120122
0,1451876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3046819,95.0,-521.0,-521.0,-521.0,-521.0,-521.0,-521.0,-521.0,-521.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,90.0,-521.0,-521.0,-522.0,-522.0,-521.0,-521.0,-521.0,-521.0,...,-521.0,1.0,1.0,0.0,0.0,0.0,6.0,2.0,3.0,6.0
4,3293483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,90.0,-521.0,-521.0,-522.0,-522.0,-521.0,-521.0,-521.0,-521.0,...,-521.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
502125,5758738,38.0,-524.0,-523.0,-524.0,-524.0,-524.0,-524.0,-522.0,-521.0,...,-524.0,1.0,0.0,0.0,1.0,1.0,7.0,6.0,7.0,7.0
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,91.0,-521.0,-521.0,-521.0,-521.0,-521.0,-521.0,-521.0,-521.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

Retrieving fields for group 90 with 6 fields

,eid,p120123,p120124,p120125,p120126,p120127,p120128
0,1451876,NaN,NaN,NaN,NaN,NaN,NaT
1,3046819,NaN,NaN,NaN,NaN,NaN,2019-02-01 16:58:14
2,5015491,NaN,NaN,NaN,NaN,NaN,NaT
3,1598419,2.0,5.0,5.0,4.0,5.0,2019-05-16 09:42:10
4,3293483,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaT
502124,3834454,NaN,NaN,NaN,NaN,NaN,2019-01-31 15:19:31
502125,5758738,6.0,7.0,7.0,7.0,7.0,2019-05-14 10:13:26
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaT
502127,3943404,NaN,NaN,NaN,NaN,NaN,2019-02-16 16:25:24

In [ ]:
split_group_list = ["29"]
merged_fields = pd.read_csv("merged_fields.tsv", sep="\t", header=0)
merge_field_list = merged_fields["field_id"].tolist()
# cut the recommended fields list for 20 fields each group
merge_field_list = [merge_field_list[i:i + 20] for i in range(0, len(merge_field_list), 20)]
for i in range(len(split_group_list)):
    group_str = split_group_list[i]
    group_num = int(group_str) - 1
    field_list = merge_field_list[group_num]
    field_list = [str(x) for x in field_list]
    # split field_list into four groups (each with 5 fields)
    temp_group_1 = field_list[:5]
    temp_group_2 = field_list[5:10]
    temp_group_3 = field_list[10:15]
    temp_group_4 = field_list[15:20]
    for j, group in enumerate([temp_group_1, temp_group_2, temp_group_3, temp_group_4]):
        print(f"Processing group {group_str} - part {j + 1}")
        print(f"Field IDs: {group}")
        get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
        field_names = ['eid'] + get_ids
        df = participant.retrieve_fields(names=field_names, engine=connection)
        data = df.toPandas()
        display(data)
        # save the data to a file
        # if the file already exists, continue to the next iteration
        data.to_csv(f'./core_category/fields_group_{group_str}_{j + 1}.tsv', sep='\t', index=False, header=True)
        # Upload the file using subprocess
        subprocess.run([
            "dx", "upload", f"./core_category/fields_group_{group_str}_{j+1}.tsv",
            "-p", "--path", "/Output/Traits/core_category/", "--brief"
        ], check=True)

In [ ]:
# fields_groups_13_4 !!done!!
group = ['3062', '3063', '3064']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
data.to_csv(f'./core_category/fields_group_13_4.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_13_4.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

In [ ]:
# fields_groups_13_5 !!done!!
group = ['3065']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
display(data)
data.to_csv(f'./core_category/fields_group_13_5.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_13_5.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

In [ ]:
# fields_groups_13_6: too lagre to download
group = ['3066']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
display(data)
data.to_csv(f'./core_category/fields_group_13_6.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_13_6.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

In [6]:
# fields_groups_26_2
group = ['5983', '5984', '5985']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
display(data)
data.to_csv(f'./core_category/fields_group_26_2.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_26_2.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

,eid,p5983_i0_a0,p5983_i0_a1,p5983_i0_a2,p5983_i0_a3,p5983_i0_a4,p5983_i0_a5,p5983_i0_a6,p5983_i0_a7,p5983_i0_a8,...,p5985_i1_a104,p5985_i1_a105,p5985_i1_a106,p5985_i1_a107,p5985_i1_a108,p5985_i1_a109,p5985_i1_a110,p5985_i1_a111,p5985_i1_a112,p5985_i1_a113
0,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000196,60.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

CompletedProcess(args=['dx', 'upload', './core_category/fields_group_26_2.tsv', '-p', '--path', '/Output/Traits/core_category/', '--brief'], returncode=0)

In [7]:
# fields_groups_26_3
group = ['5986', '5987']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
display(data)
data.to_csv(f'./core_category/fields_group_26_3.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_26_3.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

,eid,p5986_i0_a0,p5986_i0_a1,p5986_i0_a2,p5986_i0_a3,p5986_i0_a4,p5986_i0_a5,p5986_i0_a6,p5986_i0_a7,p5986_i0_a8,...,p5987_i1_a104,p5987_i1_a105,p5987_i1_a106,p5987_i1_a107,p5987_i1_a108,p5987_i1_a109,p5987_i1_a110,p5987_i1_a111,p5987_i1_a112,p5987_i1_a113
0,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
1,1000150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
2,1000163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
3,1000196,0.0,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
4,1000221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502124,6021216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502125,6021303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502126,6021358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
502127,6021392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None

CompletedProcess(args=['dx', 'upload', './core_category/fields_group_26_3.tsv', '-p', '--path', '/Output/Traits/core_category/', '--brief'], returncode=0)

In [8]:
# fields_groups_26_4
group = ['5988', '5990', '5991', '5992', '5993']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
display(data)
data.to_csv(f'./core_category/fields_group_26_4.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_26_4.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

,eid,p5988_i0_a0,p5988_i0_a1,p5988_i0_a2,p5988_i0_a3,p5988_i0_a4,p5988_i0_a5,p5988_i0_a6,p5988_i0_a7,p5988_i0_a8,...,p5992_i0_a2,p5992_i1_a0,p5992_i1_a1,p5992_i1_a2,p5993_i0_a0,p5993_i0_a1,p5993_i0_a2,p5993_i1_a0,p5993_i1_a1,p5993_i1_a2
0,1000122,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000150,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000163,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000196,Steady,Steady,None,None,None,None,None,None,None,...,0.0,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN
4,1000221,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502123,6021183,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,6021216,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,6021303,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,6021358,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,6021392,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

CompletedProcess(args=['dx', 'upload', './core_category/fields_group_26_4.tsv', '-p', '--path', '/Output/Traits/core_category/', '--brief'], returncode=0)

In [9]:
# fields_groups_26_5
group = ['6014', '6015', '6016', '6017', '6019']
get_ids = sum([field_names_for_id(field_id) for field_id in group], [])
field_names = ['eid'] + get_ids
df = participant.retrieve_fields(names=field_names, engine=connection)
data = df.toPandas()
display(data)
data.to_csv(f'./core_category/fields_group_26_5.tsv', sep='\t', index=False, header=True)
subprocess.run([
    "dx", "upload", f"./core_category/fields_group_26_5.tsv",
    "-p", "--path", "/Output/Traits/core_category/", "--brief"
], check=True)

,eid,p6014_i0,p6014_i1,p6015_i0,p6015_i1,p6016_i0,p6016_i1,p6017_i0,p6017_i1,p6019_i0,p6019_i1
0,1451876,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0
1,3046819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5015491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1598419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3293483,0.0,NaN,0.0,NaN,1.0,NaN,1.0,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
502123,2998069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502124,3834454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502125,5758738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502126,5115563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502127,3943404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

CompletedProcess(args=['dx', 'upload', './core_category/fields_group_26_5.tsv', '-p', '--path', '/Output/Traits/core_category/', '--brief'], returncode=0)